[2017-03-25 03:16] VenkateshSrini opened #1 "Samples for building reliable collection in asp.net core"
Hey,
I'm not sure whether this is the correct place to ask this question. Can you please let us know through some blogs, documentation or through code samples on how to build Reliable collections using service fabric using ASP.NET core.

I have asked in few forums, but I have not concrete answers for the same.

[2017-03-26 10:02] mkosieradzki opened #2 "[Proposal] Create a FabricReverseProxyIntegration middleware"
I am basically using such a middleware as below on every service. This might make a useful addition to address [Special handling for port sharing services](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy#special-handling-for-port-sharing-services).
[code]

If this proposal is accepted, I will be happy to create a proper pull request with a proper middleware, etc.

[2017-03-27 09:35] YTsalko commented on #1
@VenkateshSrini ,
Here gist how you can use Reliable Collections in AspNet.Core application - https://gist.github.com/YTsalko/4231e7b8f8ea662b7ef65a38ebfcceec

The main idea is that you need to inject IReliableStateManager to you controller.
I hope this is what you want.

[2017-03-27 14:14] vturecek commented on #1
@VenkateshSrini Yes there is documentation specific to the asp.net core packages: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-aspnetcore

I'll add this to the readme.md.

To answer your question, @YTsalko is correct, it's just a matter of injecting IReliableStateManager to your controllers. The documentation has an example of that in the sec

[2017-03-27 14:35] #1 closed

[2017-03-27 21:01] vturecek commented on #2
@amanbha FYI.
@mkosieradzki Thank you, yes I think this is a great idea and very necessary if you're using the reverse proxy. Happy to take this in if you can prepare a PR!

[2017-03-28 03:06] VenkateshSrini commented on #1
Hi ,
Thanks for the link and sample code. But still I have another question under the same topic. So If I write reliable collection in ASP.NET core then will it run as primary one (not as an guest app) on Windows VM based service fabric cluster also.

I see that in the document they are asking us to use the ASP.NET core on .NET framework. SO this will not work on Linux VM based service fabric. cor

[2017-03-28 16:20] Marusyk commented on #2
@mkosieradzki  Could you please suggest me how do you use that middleware with `app.UseMvc();`?  Becase in my case when I try to add header I can't because `context.HttpContext.Response.HasStarted = true`

[2017-03-29 06:04] kostrse opened #3 "Use PathSuffix from ServiceEndpoint"
`Endpoint` in *ServiceManifest.xml* supports a `PathSuffix` attribute:

[code]

This value publicly exposed via `ServiceEndpoint`.
Would be convenient if `WebListenerCommunicationListener` would use this value for construction of the URL [here](https://github.com/Azure/service-fabric-aspnetcore/blob/master/src/Microsoft.ServiceFabric.AspNetCore.WebListener/WebListenerCommunicationListener.cs#L44-L

[2017-03-30 18:42] mauliksoni opened #4 "Updated weblistner 2.5 and getting following error"
Web1.cs(34,93,47,22): error CS1593: Delegate 'Func<string, AspNetCoreCommunicationListener, IWebHost>' does not take 1 arguments

I have a Service Fabric Stateless API .NET Core application. As New update 2.5 was available for "https://www.nuget.org/packages/Microsoft.ServiceFabric.AspNetCore.WebListener/" so i updated it.

After update, getting above mentioned error. What's the fix ?

[2017-03-30 19:09] mauliksoni commented on #4
Found my answer here - https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-aspnetcore

new WebListenerCommunicationListener(serviceContext, "ServiceEndpoint", (url, listener) => ....

[2017-03-30 19:09] #4 closed

[2017-03-30 19:10] mauliksoni commented on #4
See  : https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-aspnetcore

[2017-04-05 19:56] vturecek commented on #3
@kostrse We considered this at one point but decided against it. Endpoint definitions are scoped to a service type, but you usually want a URL path suffix to be unique per instance of a service type to differentiate each instance from the others.

For example, suppose you have MyWebServiceType with the following endpoint definition in ServiceManifest.xml:

`<Endpoints>
  <Endpoint Name="FooEndpoin

[2017-04-05 19:58] vturecek commented on #1
@VenkateshSrini Correct, the SDK is currently compiled against the full .NET Framework so you will not be able to run it on Linux yet.

[2017-04-06 01:07] VenkateshSrini commented on #1
@vturecek But this defeats the entire purpose of having that in .NET core. The very essence of cross platform is lost. So by what time we can expect this to be targeted for .NET core on Linux also.

[2017-04-06 10:46] senj commented on #2
I think this doesn't work if I create an ObjectResult with statusCode 404 and return it?

[2017-04-06 10:52] mgrishkov commented on #2
For me it works. I return NotFound result.
Unfortunatly it works only for 404

[2017-04-06 11:08] mkosieradzki commented on #2
Yes, there might be a problem if ctx.Response.HasStarted is true.

We need to decide here what to do in this case. Do not add header (it's too late) and:
1. Check if proper header had been already added by the developer. If not log warning.
2. Do nothing.

[2017-04-06 12:18] Marusyk commented on #2
We solved that problem with following code
[code]

[2017-04-06 12:21] mkosieradzki commented on #2
@Marusyk Nice. We should definitely use your approach.

[2017-04-06 15:34] senj commented on #2
Why do you use "X-ApiGateway-ResourceNotFound"?

[2017-04-06 21:10] Marusyk commented on #2
@senj Our ApiGateway makes decision to retry when 404 or return 404 if resource not found. The  "X-ServiceFabric" header is quite common and doesn't tell what data I'm going to use. So we decided to use unique header like "X-ApiGateway-ResourceNotFound" which does not require checking the value. This header exists only when requested resource not found

[2017-04-07 11:28] guibirow commented on #3
In you scenario would be easier to define these configurations using the config overrides and application parameters, isn't?
Today we have the same scenario and we use a powershell step to change ports because we couldn't do that as part of configuration override.

Why we can't have a service override as well?

[2017-04-07 12:49] kostrse commented on #3
Agree that generation of URL based only on ServiceEndpoint alone is not suitable when one service type has several instances and each of them needs to be bound to a unique URL.

This is true whether `PathSuffix` value used or not.

The URL is not being supplied to WebListener directly, it is provided as a parameter to callback function, where you still can (if you wish) apply final modifications t

[2017-04-07 19:30] vturecek commented on #3
@guibirow Yes we'd like to eventually get parameter overrides to flow into Endpoint definitions in ServiceManifest.xml. For now you have to have multiple service packages for each configuration you want or use some tokenizer/string replacement deal at build time (VSTS has a task for that).

@kostrse Programmatically creating the URL when you need to is the right idea. The PathSuffix property is ma

[2017-04-07 19:34] vturecek commented on #2
@Marusyk The X-ServiceFabric header will have "ResourceNotFound" as the value and you'll need that if you're using the Service Fabric reverse proxy.

[2017-04-10 17:25] vturecek commented on #1
Once Service Fabric is generally available on Linux.

[2017-04-11 01:25] VenkateshSrini commented on #1
@vturecek ,
Thank for the update and I'm eagerly waiting for it. Now again just to correct my understanding again, so after the Service fabric for Linux is released, then I will be able to write **.NET core** reliable collection and host them on Service fabric running **on Linux as well as Windows VM**. I ask this because most of the on-premise data center are all in Windows while when moving to c

[2017-04-11 17:16] vturecek commented on #1
Yup, that's right. The plan is to target all of our NuGet packages against .NET Standard 2.0, so that you build your services against any version of .NET that supports .NET Standard 2.0, including .NET Core which will allow you to run your services on either Linux or Windows.

[2017-04-18 16:54] grahamehorner opened #5 "DependancyInjection"
make it easier to allow switching between Docker & ServiceFabic deployments of AspNetCore stateless Web/Web API by using DependancyInjection to build the appropriate WebHost according to what environment/deployment

[2017-04-19 21:29] glennc opened #6 "ASP.NET Core 2.0 breaking changes"
This PR: https://github.com/aspnet/Hosting/pull/995

Removes the Start and Stop methods from IWebHost, replacing them with StartAsync and StopAsync. This will break the CommunicationListener here by the look of it.

Not a difficult change, but it is breaking for everyone, so you would presumably have to bump Major versions to depend on the new breaking Hosting package. How do you want to handle a

[2017-04-21 20:53] vturecek commented on #6
@glennc Yeah we've already run into this one. We don't currently have multiple major release support trains. Will asp.net core 2.0 still support full .NET framework or is it .NET Core only at that point?

[2017-04-25 01:08] vturecek commented on #5
@grahamehorner Do you have an example of what you have in mind?

[2017-04-25 11:15] grahamehorner commented on #5
open to ideas; at present the entry point for a ASP.NET MVC or WebAPI is main; however this is not the case for ServiceFabric as the instantiation is somewhat different; I feel these should be unified so that the entry point/flow can be used with DependancyInjection handling the wrapping/or injection of additional features when running under ServiceFabric

[2017-04-25 17:50] pksorensen commented on #6
I ran into this also, and the current codebase do work with 2.0 also, as there are extension methods added. Then building against the 2.0 feed instead:   `https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json` allowed me to use the kestrel communication listenere.

[2017-04-25 21:43] DixonDs opened #9 "Feature Request: Service Fabric configuration source"
Just wondering if the configuration source implementation for Service Fabric could be included in this repo and published as a separate package. If so, I could prepare a PR from the one I did in https://github.com/aspnet/Configuration/pull/642

[2017-04-25 23:26] #2 closed

[2017-04-25 23:52] vturecek commented on #9
@DixonDs Definitely, this would be great to have. It's been a fairly popular way of consuming SF config in ASP.NET Core services. Looking at your other PR, there are a few additional things we'd want to have to fully support SF config packages:

 1. Ability to consume configuration settings from multiple configuration packages. Services can have an arbitrary number of config packages, each with th

[2017-04-29 11:32] mkosieradzki opened #11 "[Proposal] New Public Reverse Proxy middleware"
## Abstract
New middleware will be used to expose services from inside of the Service Fabric cluster publicly without the need to use any other 3rd party services (except of the load balancer). Service using such a middleware will scale together with the cluster,

### Features for V1
* Rule-based engine integrated with the Service Fabric configuration service
  * Graceful rules reload without serv

[2017-04-30 10:29] mkosieradzki opened #12 "[Proposal] Expose Http Client library for communicating with SF endpoints"
This is only idea for improvement, I would definitely understand if it is rejected due to existence of Service Fabric Reverse Proxy.

Such a library should:
* Perform service resolution
* Honor 410 Gone Status Code
* Honor X-ServiceFabric header
* Perform retries
* Cache resolution results
* Support Uri-schemes for Service Fabric Reverse Proxy
* Should be implemented as a System.Net.Http.Delegatin

[2017-04-30 16:08] grahamehorner commented on #11
could this not be achieved by a ServiceFabric management component that allows communication with network load balancer so as when Services instances on nodes change or nodes get added/removed the load balancer is informed/updated ?

[2017-04-30 22:59] mkosieradzki commented on #11
@grahamehorner

If by NLB you mean L4 load balancer then no:
- You cannot access stateful services
- Service resiliency will be bad (you loose retries on failover)
- No support for proper port sharing

If by NLB you mean L7 load balancer -> then you don't need any management component. Service Fabric Reverse Proxy is more than enough. you only need a strong enough rules system on your L7 Load Bala

[2017-05-03 18:01] vturecek commented on #12
@mkosieradzki This is something we've been considering for a while. We're heads down right now with the Build conference coming up, so please bear with our slow response times, but when we resurface in a couple weeks we'll definitely take a close look at taking this feature on.

[2017-05-04 10:33] jsacapdev opened #13 "Using KestrelCommunicationListener in simple Service Farbic Application results in 410 (Gone)"
Minimal repro steps

1. Open Visual Studio 2017
2. Create new project -> Cloud -> Service Fabric Application -> ASP.NET Core -> Empty
3. In Web1.cs, replace CreateServiceInstanceListeners with:

        protected override IEnumerable<ServiceInstanceListener> CreateServiceInstanceListeners()
        {
            return new ServiceInstanceListener[]
            {
                new ServiceInstance

[2017-05-04 16:38] amanbha commented on #13
@jsacapdev
That's expected behavior with ServiceFabricIntegrationOptions.UseUniqueServiceUrl, so the actual url reported by the listener to ServiceFabric runtime will not be http://localhost:8880/, It will have some guilds appended to it to uniquely identify the service, to get this url you will have to resolve the service by using Service Fabric client apis or for your dev box you can look up the

[2017-05-05 12:40] jsacapdev commented on #13
Thanks.

[2017-05-05 12:40] #13 closed

[2017-05-09 18:59] Mardoxx commented on #6
Is [this](https://github.com/aspnet/Home/issues/2022) relevant to this discussion? I am not really following it, all the naming is really hard to get my head around.

By the sounds of it all future ASP.NET Core libraries will be targeting `netcoreapp2.0` which will _only_ run under .NET Core, and not .NET Framework. Reading a little more it appears that you will not be able to use .NET Framework l

[2017-05-09 19:06] Mardoxx commented on #5
I don't follow. Can you provide an example, or counter example pointing out what is wrong?

[2017-05-10 10:41] pksorensen commented on #6
I am would also like to know what the linked discussion actually means for service fabric.

I have also been using dotnet core abstraction/extensions - interfaces and whatnot in my applications. And I am honestly not deep enough into what the discussion means to fully understand. Will my stuff start breaking?

Is it as simply as building the services for netcoreapp2.0 and target win10-x64 ?

Would

[2017-05-15 19:04] glennc commented on #6
For preview1 of ASP.NET Core 2.0 the ASP.NET packages had to drop support for .NET Framework. So you can only use netcoreapp2.0 apps. But that is just for the first preview while we get stuff to work. MVC and some other critical parts of the stack broke on full .net late in our development cycle.

You can consume .NET Framework libraries from a netcoreapp2.0 application, but there are no guarantee

[2017-05-17 23:26] vturecek opened #15 "WebListener renamed to HttpSysServer in ASP.NET Core 2.0"
We'll need to consider renaming our listener/package at some point as well.

aspnet/HttpSysServer#358

[2017-05-18 23:51] vturecek commented on #11
@mkosieradzki If anything I would split this out into a separate project, but as far as gateways are concerned we now integrate with API Management (more info on that is on the way), which does service routing and has a very rich set of routing rules built in, so for now I don't think we'd want to take up building our own.

[2017-05-19 00:46] mkosieradzki commented on #11
@vturecek API Management is a great service, unfortunately there is no such thing on-premises.

But I totally understand.

In that case I will keep using my current solution, and maybe in future we can consider coming back to this topic of more people are interested. It is also very plausible that some existing solutions will be utilized for this purpose like nginx or haproxy.

[2017-05-19 00:46] #11 closed

[2017-05-21 19:36] johnbindel commented on #15
Hey Vaclav, I just put together a pull request for this- https://github.com/Azure/service-fabric-aspnetcore/pull/16
Feel free to hold off on merging until it's an appropriate time.
Cheers, John

[2017-05-22 15:46] skrysmanski opened #17 "Application debug symbols can't be loaded (unsupported format)"
Visual Studio 2017 can't load the debug symbols of a freshly created ASP.NET Core Service Fabric application.

## Steps To reproduce:

1. Open new VS 2017 instance
1. Create new project of type "Service Fabric Application" (under "Visual C#" -> "Cloud").
  The selected target framework doesn't seem to matter here.
1. In the following dialog ("New Service Fabric Service") select "ASP.NET Core" and

[2017-05-22 19:16] karolz-ms commented on #17
Does "Rebuild solution" before F5 help?

[2017-05-23 05:55] skrysmanski commented on #17
@karolz-ms Nope, rebuilding doesn't help.

[2017-05-24 00:33] vturecek commented on #15
@johnbindel Right on, thanks John! We'll keep that on the backburner until it's time.

[2017-05-24 00:59] vturecek commented on #17
@skrysmanski Can you add your Service Fabric versions and .NET Core versions? Go into Programs and Features and look for:
 - .NET Core SDK
 - Microsoft Azure Service Fabric
 - Microsoft Azure Service Fabric SDK

I have VS 2017 v15.2 installed and can't repro this. @MikkelHegn any ideas?

[2017-05-24 05:44] skrysmanski commented on #17
For .NET Core I see this under Programs and Features:

![dotnetcore](https://cloud.githubusercontent.com/assets/914747/26388436/9dc7400a-4054-11e7-94f7-77e587d79ea7.png)

For Service Fabric, it shows this:

![servicefabric](https://cloud.githubusercontent.com/assets/914747/26388469/c1482792-4054-11e7-9932-7a745462efe1.png)

[2017-05-24 06:52] skrysmanski commented on #17
Today, I saw that there's a new Service Fabric version, so I upgraded to 5.6./2.6. but it didn't help. I even recreated the project but this also didn't fix the problem.

[2017-05-25 20:32] vturecek commented on #17
Pretty weird, I can't repro this at all. Usually when you see this it means the debugger is not attached to the EXE that the file is in. Are you running Visual Studio as administrator? Can you go into the debug menu to see if the debugger is getting attached to your service EXE?

And one more thing that might help us figure this out: can you right-click the SF Application project, go to properties

[2017-05-27 16:30] mkosieradzki opened #18 "Reverse proxy and Application Insights integration issues"
Related to: Microsoft/ApplicationInsights-aspnetcore#463

IMO this middleware should be modified to accomodate two differences.

Again let's consider following scenario
We have a public site: https://mydomain.com/mypath
It is handled locally by http://localhost:1234/{generated unique id}/mypath

1. First of all there should be an option to strip the generated unique path to make it proxy friendly.

[2017-05-28 22:45] mkosieradzki commented on #18
Regarding 1st point. It's a no-issue, as it can be handled just by setting PathBase = PathString.Empty in the next middleware. So the only change actually needed is to remove the original-values reverting behavior.

[2017-05-29 06:51] skrysmanski commented on #17
I've create a GitHub repo with which I can reproduce the problem:

https://github.com/skrysmanski/bugs-service-fabric-asp-net-core-debug-symbols

Maybe this can help you figure out what's wrong here.

Yes, although I think this should not affect the problem.

According to the "Threads" view I'm attached to the correct process:

![attached](https://cloud.githubusercontent.com/assets/914747/26539246

[2017-05-30 10:40] mkosieradzki commented on #18
Current behavior (recovering original Path and PathBase) is consistent with MapPath middleware.

So I believe this issue (stripping automatically generated PathBase) should be handled in ApplicationInsights-ServiceFabric, but still I am not 100% sure.

[2017-05-30 17:06] amanbha commented on #18
For 2nd point, you pointed correctly that its consistent with other middlewares and just sets "paths" to what it was for the previous middleware.  I believe it should be handled in ApplciationInsights-ServiceFabric middleware.

[2017-05-30 17:42] mkosieradzki commented on #18
@amanbha
Thanks for your answer. I appreciate it. In that case I will pursue improvements to ApplicationInsights-ServiceFabric. I will close this issue when my proposal in ApplicationInsights-ServiceFabric is resolved.

[2017-05-30 22:46] karolz-ms commented on #17
@skrysmanski I am puzzled about this. Can't reproduce the problem either using the solution you posted to GitHub. The only thing I had to change to hit the breakpoint was the active solution platform (from "AnyCPU" to "x64"), please verify that you have done (Build menu | Configuration Manager | Active Solution Platform).

The "unsupported debug option" is kind-of expected, it just indicates that

[2017-05-31 06:21] skrysmanski commented on #17
@karolz-ms I've removed the "Any CPU" solution configuration to avoid confusion. I have always been using the "x64" configuration and can still reproduce it.

In the meantime I've also tried the following things (but *none of them fixed the problem*):
* I've updated Visual Studio to version 15.2 26430.12 (out today).
  * With the new version, I've created a new ASP.NET Core Stateless service proje

[2017-05-31 08:19] skrysmanski commented on #17
More findings:
* When I just build the web project, create the SF package manually and then publish it via PowerShell, the PDB files work fine (i.e. breakpoints work fine after attaching the debugger manually).
* When I publish/run the SF project through VS, the process for some reasons creates a *second* output folder in the web project's `bin` directory.
  * When I just build the solution, I get

[2017-05-31 09:55] skrysmanski commented on #17
I think I've found out what's the problem here (although I haven't found any solution yet).

The problem consists actually of two problems:
1. My Visual Studio 2017 debugger doesn't support portable PDBs.
1. When packaging a Service Fabric project, Visual Studio ignores the project settings of ASP.NET projects. It thus compiles the web project with portable PDBs rather than "full" PDBs.

The first

[2017-06-01 06:43] skrysmanski commented on #17
So, the first problem has been solved via StackOverflow. Thus, only problem 2 remains which should be fixed, IMO.

[2017-06-01 16:22] MikkelHegn commented on #17
We will fix honoring the pdb type, hence "bugging" this issue.

[2017-06-01 22:22] #18 closed

[2017-06-01 22:43] mkosieradzki opened #20 "Please make Microsoft.ServiceFabric.AspNetCore a separate package"
I could use it for example here: Microsoft/ApplicationInsights-ServiceFabric#13

[2017-06-02 18:19] amanbha commented on #20
@mkosieradzki Could you help me understand how making it a separate nuget package helps, the dll is available in Microsoft.ServiceFarbic.AspNetCore.Kestrel and Microsoft.ServiceFarbic.AspNetCore.WebListener?

[2017-06-02 18:30] mkosieradzki commented on #20
@amanbha
When creating a dependent middleware I can take listener as a parameter exactly the same way as currently existing middlewares.

I cannot reference neither weblistener nor kestrel version, because I want to make this new middleware server independent.

Alternatively we can take just url as an argument and avoid creating dependency additional dependency, however I thought it would be more

[2017-06-02 18:57] amanbha commented on #20
agree on keeping it server independent, trying to understand the scenario, if its a separate nuget package. what functionality from it do you want to use or extend in your other middleware, can it achieve that just by being the next middleware?

[2017-06-02 19:40] mkosieradzki commented on #20
Exactly, I only need the type AspNetCoreCommunicationListener and access its UrlSuffix field (but also service context). This is why I am a bit confused here.
It's like a choice between the following: (the name `UseMyTelemetry` is only temporal)
[code]
or
[code]

Maybe this `AspNetCoreCommunicationListener` should be in some `Microsoft.ServiceFabric.AspNetCore.Abstractions`?

[2017-06-02 19:43] mkosieradzki commented on #20
Moreover maybe it would be a good idea if UseServiceFabricIntegration would register AspNetCoreCommunicationListener as a service in DI container? In that case entire service fabric telemetry integration could happen parameterless?

[2017-06-06 05:58] skrysmanski commented on #17
@MikkelHegn Just FYI: It's not just the pdb type. It's also the output directory that gets ignored - and maybe there are other settings that get ignored as well.

[2017-06-08 22:00] amanbha commented on #20
@mkosieradzki I will create a new package Microsoft.ServiceFabric.AspNetCore.Abstractions for this, it will be starting with our next release (5.7)

[2017-06-08 22:02] mkosieradzki commented on #20
Thanks @amanbha. I appreciate it.

[2017-06-30 12:05] grahamehorner opened #21 "ASP.NET Core 2.0"
I'm getting the following error in ServiceFabric when using ASP.NET Core 2.0

Unhealthy event: SourceId='System.RA', Property='ReplicaOpenStatus', HealthState='Warning', ConsiderWarningAsError=false.
Replica had multiple failures in_Node_2 API call: IStatelessServiceInstance.Open(); Error = System.MissingMethodException (-2146233069)
**Method not found: 'Void Microsoft.AspNetCore.Hosting.IWebHost.

[2017-06-30 12:54] grahamehorner commented on #21
the issues looks to be the following

 public virtual Task<string> OpenAsync(CancellationToken cancellationToken)
....
            this.webHost.Start();
the interface of IWebHost has been broken!? :'( the Start has been removed and replace with StartAsync

https://github.com/aspnet/Hosting/issues/1124

[2017-07-06 18:45] vturecek commented on #21
@grahamehorner Yup we're tracking these changes in #6 and planning to roll up asp.net 2.0 support with our .NET Standard 2.0 support later this fall.

[2017-07-06 20:10] grahamehorner commented on #21
@vturecek @davidfowler & team have re implemented the Start method so not to break other code, and ServiceFabric is now working with preview 3 builds of asp.net core, however the uri displayed in the explorer ui is an IPv6 http::[::] which is a different behaviour and I have logged this as an issue

[2017-07-11 23:35] vturecek commented on #21
@grahamehorner Thanks for finding that, we're looking at getting a fix out for this soon.

[2017-07-11 23:40] vturecek commented on #6
Start/Stop have been added back to IWebHost for binary-compatibility. Now tracking behavioral change to support IPv6 in `IServerAddressesFeature` (from aspnet/Hosting#1131)

[2017-07-18 11:02] kimbell opened #22 "dotnet run support?"
Currently the documentation states

Some time ago, the ASP.NET Core team tried to change things so that 2.0 would only run on .NET Core and not .NET Framework. This was later reverted due to community feedback. https://github.com/aspnet/home/issues/2022

Since they already tried once, it's just a matter of time before it becomes reality. Currently Service Fabric doesn't support starting applicatio

[2017-07-19 05:31] mtorkamani commented on #13
Hey @amanbha,
I'm having the same issue. I deployed a stateful  ASPNetCore api service and want to connect to that via HttpCilent from another service in the cluster. How can I get its Url?
I find my deployed service in SF explorer and see my api service has been assigned a port dynamically and last segment of it's endpoint is a Guid which is added by Integration middleware (Kestrel). I followed t

[2017-07-20 19:05] amanbha commented on #22
We would make our binaries compatible with for netstandard2.0, at that point running net core apps would be possible.

[2017-07-24 17:03] amanbha commented on #22
We are working on building our Programming model binaries net standard 2.0 at which point it would be possible to run netcore apps.

[2017-07-24 17:49] kimbell commented on #22
So, will the XML configuration allow you to just specify a dll rather than en exe?

[2017-07-24 18:55] vturecek commented on #22
@kimbell That you can already do today with a [Guest EXE](https://docs.microsoft.com/azure/service-fabric/service-fabric-deploy-existing-app) service, you just have to use a .cmd file to execute dotnet MyApp.dll. For example, your ServiceManifest.xml would have:

[code]

Your code package would contain your application DLLs and `run.cmd` which would simply call:

`dotnet MyApp.dll`

As @amanbha me

[2017-07-24 19:33] kimbell commented on #22
Wrapping it in a run.cmd is so simple it just didn't occur to me. D'oh!

[2017-07-24 19:33] #22 closed

[2017-07-28 21:29] #20 closed

[2017-07-28 21:29] #21 closed

[2017-08-10 15:55] Eyedicious opened #24 "Service Fabric 5.7 MissingMethodException for ServiceInstanceListener"
I am getting the following error when deploying after upgrading to Service Fabric 5.7  from Service Fabric 5.6.210 (On 5.6.210 this seemed to be working A-okay)

I am running my Service Fabric in a local cluster. I am using both KestrelCommunicationListener and WebCommunicationListener each in an individual service. Both Services report the same error.
I create my listeners as follow:

[code]

[2017-08-10 16:17] mgrishkov opened #25 "Unable to create cluster SF 5.7.198.9494 on standalone server"
I run following script to create a DEV cluster
`.\CreateServiceFabricCluster.ps1 -ClusterConfigFilePath C:\Configs\ClusterConfig.json  -AcceptEULA`
and I get exception:
`Runtime package cannot be downloaded. Check you internet connectivity. If the cluster is not connected to the internet,` but server has access to the internet and I can download CAB-file via browser.

OK, I downloaded CAB-file and

[2017-08-10 16:34] amanbha commented on #24
What is the version for Service Fabic runtime installed on the machine, looks like the runtime installed is still 5.6.

[2017-08-10 17:16] mgrishkov commented on #25
Creation has been completed for 5.5.216.0 via following script:
`.\CreateServiceFabricCluster.ps1 -ClusterConfigFilePath C:\Configs\ClusterConfig.json -FabricRuntimePackagePath C:\Install\MicrosoftAzureServiceFabric.5.5.216.0.cab -AcceptEULA`

**But i still unable to install 5.5.220 and 5.7.198**

[2017-08-10 17:27] mgrishkov commented on #25
It seems that I solve the issue by **removing** cluster, **clearing** and new **installation**.

[2017-08-11 07:52] Eyedicious commented on #24
I feel like an outright fool. Indeed my ServiceRuntime was still 5.6, updating it to 5.7 resolved the issue flawlessly. A silly oversight of me, cheers for the quick response and the help!

[2017-08-11 07:52] #24 closed

[2017-08-14 13:37] juho-hanhimaki commented on #15
Is there any schedule for this now that 2.0 is out?

Looking forward to migrating to 2.0.

[2017-08-14 15:54] johnbindel commented on #15
Aman commented that they will be releasing an HttpSysListener nuget package for aspnetcore 2.0. @amanbha, what does the timeline look like for this?
https://github.com/Azure/service-fabric-aspnetcore/pull/16#issuecomment-322085630

[2017-08-14 16:03] amanbha commented on #15
It will be part of our next release, ETA is mid to end of Sept.

[2017-08-14 19:35] vturecek commented on #25
Just for future reference, this repo is specifically for ASP.NET Core integration with Service Fabric. For general questions like cluster setup, you'll have better luck at our main issues repo at https://github.com/Azure/service-fabric-issues/

[2017-08-14 19:35] #25 closed

[2017-08-15 21:46] lapuyaloca commented on #15
I just created my first ASP.NET Core 2 Stateless Service Fabric Reliable service but the first thing I notice is that now, by default uses the KestrelCommunicationListener instead of the WebListenerCommunicationListener used in core 1.X. It seems it has been removed from the service fabric asp.net core libraries. What Am I missing?

[2017-08-16 10:57] hugoterelle opened #26 "Problem with aspnetcore.Kestrel"
Using the latest Visual Studio 2017 15.3, I try to create a Service Fabric Application with Dotnet Core Web (Angular JS and dotnet core 2.0)

Everything works fine and can be deployed locally.

But I tried to upgrade the nuget packages.  And the system is not working anymore.  After upgrading packages one by one, I discovered that Microsoft.ServiceFabric.AspNetCore.Kestrel is the problem (from 2.6

[2017-08-16 14:17] amanbha commented on #26
Whats the error you are getting? What is the runtime version installed on the machine? It has to be 5.7.198.

[2017-08-21 07:39] hugoterelle commented on #26
Thank you, it solved the problem after upgrading Service Fabric runtime to version 5.7.198

[2017-08-21 07:39] #26 closed

[2017-08-21 16:11] grahamehorner opened #27 "using current version of ServiceFabric SDK with ASP.NET Core 2.0"
The following exception is throw when using using current version of ServiceFabric SDK with ASP.NET Core 2.0

[code]

[2017-08-22 02:59] amanbha commented on #27
Looks like your Service Fabric runtime is lower than sdk version. Please update runtine version to 5.7.

[2017-08-22 03:10] amanbha commented on #27
Please see issues #24 and #26

[2017-08-25 09:14] petkit commented on #22
Does this mean that some kind of .NET Core package has to be pre-installed on each cluster node? I mean in order for the dotnet.exe to be available. What would be the simplest/recommended way to achieve this?

[2017-08-25 11:20] ovebastiansen commented on #3
Does there exist a complete sample on how to get portsharing to work with https and certificates and weblisteners? I have found some hints about using a setupentrypoint and netsh commands. And have used overrideenvironmentvariables tags to get different certificates into local vs cloud, but it does not completely work. I have two servicefabric applications, that I would like to host the frontend p

[2017-08-30 13:43] vpoorshab commented on #15
@lapuyaloca
install the package for weblistener
Microsoft.ServiceFabric.AspNetCore.WebListener

[2017-09-06 13:20] mgrishkov opened #29 "HRESULT for OPTION/GET request"
I faced a problem with OPTION/GET requerst to a stateless AspNet.Core WebApi service. In some cases (I cannot identify when) client get 500 error with header **X-Error-HRESULT:80090321** or **X-Error-HRESULT: 80072F8F**. I cannot find any information for that HRESULT applied to a SF.

[code]
P.S. According to the NDA I have to hide some information with ?-symbol

[2017-09-06 19:09] #27 closed

[2017-09-08 22:35] amanbha commented on #3
@ovebastiansen Since WebListener, to enable https for the endpoint, please take a look at https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-service-manifest-resources#example-specifying-an-https-endpoint-for-your-service

[2017-09-08 22:38] amanbha commented on #29
@mgrishkov This looks more like an ASPnetcore issue than a Service Fabric issue, could you please open it in aspnetcore repo.

[2017-09-12 07:03] mgrishkov commented on #29
Thank you for your reply. I tried to upgrade NetCore SDK to the latest version. Let's see how it affects the issue.

[2017-09-12 13:31] adailsonfilho commented on #22
@petkit, I had the same question with me some time ago. I just found a sample project implementing a Reliable Service in .NET CORE for Service Fabric: https://github.com/Azure-Samples/service-fabric-dotnet-core-getting-started ...

[2017-09-12 15:33] petkit commented on #22
Thanks @adailsonfilho, we managed to solve this however, by adding a custom script extension within the ARM-template (in the VM profile part of the SF scale set resource definition) configured to run the dotnet-install ps-script.
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/extensions-customscript

[2017-09-14 19:05] grahamehorner opened #30 "Error Code 3221225786"
ServiceFabric v5.7.198.9494 - 3 node cluster running AspNetCore 2.0 Kestrel MVC site
giving Error Code 3221225786 however the site works fine on single node dev box localhost ?

[2017-09-14 20:05] amanbha commented on #30
Is the 3 node cluster is on one box or on 3 machines? Could you please share Service Fabric traces for the cluster, if its in Azure, please share the resource id of the cluster.

[2017-09-14 21:14] grahamehorner commented on #30
The cluster is running on virtual machines on a single physical server, each virtual machine has been allocated 4 cores 16gb memory with 60gb storage and is running Windows Server 2016 standard core

[2017-09-14 21:26] amanbha commented on #30
Oh ok, its an on-premise cluster, could you share the cluster traces as well.

[2017-09-14 21:29] grahamehorner commented on #30
@amanbha I will do in morning GMT when back in the office

[2017-09-20 17:24] vturecek commented on #22
@petkit +1, a VM extension is the best way to go. The other option is to build a self-contained deployment, which bundles the .NET Core runtime along with your application so that it's completely self-contained. The downside there is that you have to target a specific platform, so the application package is no longer portable across platforms, and of course the package will be larger. More info on

[2017-09-23 21:07] TonyHenrique commented on #30
I also had some problems, like crashes, with Azure Service Fabric installed on my Windows 10 x64. Where can I get the logs to send to you?

[2017-09-23 21:14] amanbha commented on #30
@TonyHenrique  if these are not for AspNetCore, please open issue on our main Service Fabric issue at https://github.com/Azure/service-fabric-issues. If its a one box cluster, the logs would be at C:\sfdevcluster\log\traces (if you didn't change the value of ClusterLogRoot for local cluster creation). Also want to mention that Win10 environment is for dev purpose only, its not for production.

[2017-09-23 21:42] TonyHenrique commented on #30
OK, I am new to this, but on my first clicks, something appear to have crashed.

I did not even put any of my service on it,
I just installed it, then entered on this url

http://localhost:19080/Explorer/index.html#/node/_Node_0

then clicked
Deactivate (Pause),
Deactivate (Restart),
Restart

in sequence, quickly.

See logs:
Traces.zip
https://drive.google.com/open?id=0B5d9oJc6UeFKYTdheUpqUlY5d2s

[2017-09-23 23:13] grahamehorner commented on #30
Sorry it's taken a while to reply, been busy rebuilding our hyper-v servers with more memory and installation of service fabric on a fresh windows server 2016 standard  non-desktop experience, the hyper-v nodes'(3 of) have 128gb of ram with 1tb raid 50 disk space each with 2 * 8 core 2.5ghz cpu

I've deployed a 7 node service fabric cluster across these 3 hosts each service fabric node has been as

[2017-09-24 00:46] amanbha commented on #30
@TonyHenrique let's not do that without understanding the implications. How many nodes cluster was it? Could you explain what crashed? You can recreate the cluster and it should work for you .

[2017-09-24 17:01] grahamehorner commented on #30
The original cluster is still configured, with 3 nodes the cluster wouldn't/couldn't even start a simple aspnetcore stateless webapi service?

[2017-09-25 17:46] amanbha commented on #15
Microsoft.ServiceFabric.AspNetCore.HttpSys nuget is now available

[2017-09-25 17:46] #15 closed

[2017-09-25 17:47] amanbha commented on #5
@grahamehorner Could you please explain this a bit more.

[2017-10-02 19:01] smartpcr opened #32 "F5 debugging using preview sdk targeting netcoreapp2.0"
![capture](https://user-images.githubusercontent.com/9336638/31094011-75c2ae66-a768-11e7-9d32-6721a81b42cd.png)

I was running latest service fabric sdk (released 9/24) and using preview of service fabric nuget packages (v6.1.211-preview and v3.0.211-preview) to test out aspnetcore2.0 (all projects targeting netcoreapp2.0). I ran into error when using VS debug (F5), (see attached screen). However,

[2017-10-02 19:28] amanbha commented on #32
The debugger issue is a known issue and it is fixed in the next VS update (VS 15.4). ETA for the update is this week.

[2017-10-03 07:14] grahamehorner commented on #30
This seems to be a resource issue on the ServiceFabric virtual machines, when increase available resources CPU, memory the application started as expected; I then started to reduce resource to a point where the application failed to start in a timely manor and reproduced the issues.

[2017-10-03 08:21] smartpcr opened #33 "Forward request: unable to pass "Host" header"
I used reverse proxy to pass request from frontend to backend. Everything works ok with full .net framework. After changed to netcore2.0 with preview nuget packages, it returned "400 bad request: invalid hostname" error. Seems "Host" header cannot be forwarded.

code is [here] (https://github.com/smartpcr/SF-reverseproxy-test), master branch targets full framework, preview branch target netcore2.0

[2017-10-03 14:33] amanbha commented on #33
Which part of your sample code is returning 400. I see that you have a middleware, Are you able to debug and figure out what component is causing the failure? Does it works without your middleware?

[2017-10-03 15:56] amanbha commented on #30
@grahamehorner  Thanks for confirming the root cause of the issue. Closing this for now,  If you have any questions, please feel free to reopen this or create a new issue.

[2017-10-03 15:56] #30 closed

[2017-10-03 15:57] amanbha commented on #29
@mgrishkov Any updates on the issue, does it still repros for you, did you get a chance to ask this in aspnetcore repo.

[2017-10-03 16:00] amanbha commented on #9
@DixonDs Just checking if you have any plans for submitting a PR for this?

[2017-10-03 16:02] amanbha commented on #5
didn't hear back from you. If this is still a concern then, then please reopen this issue along with more explanation as to what is missing and what is expected.

[2017-10-03 16:02] #5 closed

[2017-10-03 16:03] #3 closed

[2017-10-03 16:52] smartpcr commented on #33
within preview branch, ProxyMiddleware class, on line 56 (see snippet below), if header "Host" is skipped from copying, it will work.

using (HttpResponseMessage responseMessage = await _httpClient.SendAsync(requestMessage, HttpCompletionOption.ResponseHeadersRead, context.RequestAborted))
{
}

[2017-10-03 17:57] mgrishkov commented on #29
Upgrade to the latest aspnetcore didn't solve the issue. The only thing thst I got: it is almost impossible tp get the errors atnight time. It seems to me that it load depended.
I need more time to enroll another environment and test it to reproduce errors.

[2017-10-03 18:56] DixonDs commented on #9
@amanbha no, at least not anytime soon, I guess.

[2017-10-03 19:21] amanbha commented on #33
To understand it better and narrow down the issue, , I have following questions:
1. Was SF runtime version different when you performed your 2 tests with full .net and and with .net core. What was the runtime version?
2. Is Reverse Proxy returning 400 or your service returning 400? You can see this by seeing events for  Reverse Proxy (https://docs.microsoft.com/en-us/azure/service-fabric/service-f

[2017-10-12 14:12] odysseus1973 opened #34 "How to listen http and https with Kestrel and Service Fabric?"
Hi!

How to listen http and https with Kestrel and Service Fabric?

[code]
Port 3000 with https work correctly, but port 2000 with http not working.

[2017-10-12 14:34] amanbha commented on #34
Does this work outside of SF in a standalone app?

[2017-10-12 15:19] odysseus1973 commented on #34
Don't try. How to test SF reliable service outside SF?

[2017-10-12 15:26] amanbha commented on #34
Sorry if I wasn't clear enough. Not the stateful service, I only meant a standalone aspnet core app with the Kestrel options as your are setting above. This is to narrow down if it's a aspnet core Kestrel issue or SF issue.

[2017-10-12 16:36] odysseus1973 commented on #34
This is SF issue, on local machine asp net core app with Kestrel options work fine

[2017-10-12 16:59] amanbha commented on #34
@odysseus1973  Ok, Could you share the service manifest.
Whats the error for http@2000 you get? Also from your code snippet how do you plan to get the urls at which kestrel is listening from SF. SF will only returns the first url from IWebHost. If its stateless listening on static port and you know in advance then its probably fine. Usually the pattern with SF is to use one CommunicationListener p

[2017-10-12 18:12] odysseus1973 commented on #34
[code]
This is stateless service with static port, which expose some api.

[2017-10-12 18:20] amanbha commented on #34
Are you doing cert private key acl'ing your self? or its in app manifest. Please share appmanifest as well. Feel free to set up some time with me or send mail to amanbha@microsoft.com reg. this.

[2017-10-12 19:08] odysseus1973 commented on #34
SSL port 3000 working fine, http port 2000 not working, so this is not certificate related problem
[code]
netsh http show sslcert
[code]

netsh http show urlacl
[code]

[2017-10-12 21:27] amanbha commented on #34
@odysseus1973 I am not able to repro this aspnetcore 2.0 and latest SF packages, i was able to access both http and https urls fine.
[Application17.zip](https://github.com/Azure/service-fabric-aspnetcore/files/1380750/Application17.zip)

[2017-10-13 18:39] odysseus1973 commented on #34
@amanbha Thanks for answer. I try to publish you sample application with same result. Port 3000 https work perfect and port 2000 http not work. When I creating 2 ServiceInstanceListener, one for http and one for https, both ports works fine

[2017-10-13 18:59] amanbha commented on #34
@odysseus1973 would it be possible for you to setup sometime so that I can take a look at your machine. Please send a meeting invite to amanbha@microsoft.com. Also could you provide following versions:
1. SF runtime version on your machine.
2. Microsoft.ServiceFabric.AspNetCore.Kestrel nuget package version.
2. Aspnet core nuget package version.

[2017-10-16 13:13] odysseus1973 commented on #34
Hi!

1. SF SDK version in my project 6.0.211 , in Azure SF version 6.0.211.9494
2. Microsoft.ServiceFabric.AspNetCore.Kestrel 2.8.211
3. AspNetCore 2.0.0

[2017-10-16 21:42] ravipal commented on #32
This feature is released now in VS preview channel. Please refer the following link for more detail. https://blogs.msdn.microsoft.com/azureservicefabric/2017/10/12/visual-studio-2017-service-fabric-tools-2-0-preview/

[2017-10-17 10:08] mgrishkov commented on #29
It seems that upgrading SF up to 6.0 and switching dev-cluster to single node configuration have resolved the issue.
Are there any ideas what was the case of the issue?

[2017-10-18 06:35] mgrishkov commented on #29
Unfortunately, but I catch the error again. But earlier an event log shows it, but now it doesn't. It makes investigation much difficulty... I'll create issue for aspnet core repo.

[2017-10-18 16:11] mgrishkov commented on #29
Is it possible to log every request that comes through the reverse proxy?

[2017-10-18 17:00] amanbha commented on #29
@mgrishkov  https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverse-proxy-diagnostics , Are you accessing the service via ReverseProxy, If yes, do you get the same error without ReverseProxy

[2017-10-18 17:32] vturecek commented on #34
@odysseus1973 Can you be more specific? What exactly do you mean by port 2000 "not working"? Does netstat show the application listening on port 2000? Do clients fail to resolve or connect?

[2017-10-18 17:35] Eneuman opened #36 "Latest stateful ASP.Net Core template does not seem to work. (Asp.Net Core 2)"
I'm running VS 15.4 , Service Fabric SDK 6.0.211.9494 and Toolings 2.

I'm creating a new SF Project, and selecting the "Stateful ASP.Net Core" template from the latest Tooling preview. After the project has been created I'm deploying it localy without changing anything.
It failes to start with the error message

and in VS it says

and the event log gives me this:

The same problem occurs if I try

[2017-10-18 17:38] amanbha commented on #34
@vturecek I had an email thread with @odysseus1973 , the port is working fine when accessed on local machine, its not accessible via Azure LB. I will add you to the thread,

[2017-10-18 18:49] odysseus1973 commented on #34
@vturecek
[code]
Output was cropped.
Port 2000 accessed via localhost, but when I call from outside via browser I can not get an answer.
At that time netstat -an show established connection from my IP.

@amanbha
@vturecek
Thanks for help

[2017-10-18 21:53] amanbha commented on #36
Whats the exception when you try to debug it? Also what is the version of following nuget packages:
Microsoft.ServiceFabric.AspNetCore.Kestrel (if using Kestrel) or Microsoft.ServiceFabric.AspNetCore.WebListener if using WebListener.
Microsoft.ServiceFabric.Services
Microsoft.ServiceFabric

[2017-10-19 06:52] Eneuman commented on #36
VS wont start the debugging session :(
I have attached a project showing the problem.
I also tried to upgrade to SDK 6.0.219.9494 and the same problem occured.

(It's just the latest default template with out any modifications)

[TestApp.zip](https://github.com/Azure/service-fabric-aspnetcore/files/1397365/TestApp.zip)

[2017-10-19 18:36] ravipal commented on #36
@Eneuman I tried the attached app. It fails to build asking to update the platform to x64. Then I am able to deploy the application and it works.

[2017-10-19 20:28] Eneuman commented on #36
I just tried to downloaded and publish it and it still gives me the same error :(
Can you please verify that you are running 6.0.219.9494 in your cluster?

This is the output I get from VS when deploying:

1>Web1 -> C:\Users\PerBornsjö\Downloads\TestApp\TestApp\Web1\bin\Debug\netcoreapp2.0\win7-x64\Web1.dll
2>------ Build started: Project: TestApp, Configuration: Debug x64 ------
3>------ Publish

[2017-10-19 23:11] ravipal commented on #36
I have the same version of SDK and runtime
![image](https://user-images.githubusercontent.com/1775825/31798243-72551912-b4e7-11e7-8ba1-3dce21174d00.png)

The same Test app that you attached works fine.
Will it ever come back to healthy state, say after a minute or so?. May be the machine is slow and takes a while to bring up the application. Other option is try to reset the cluster and see if that

[2017-10-20 06:39] Eneuman commented on #36
No, it never goes up, and it's my local machine so it's fast.
Where can I find the cluster traces?

[2017-10-20 08:21] mgrishkov commented on #29
@amanbha I cannot understand how to log events. The dev-cluster hosted on the server hasn't got installed VS. Is it possible to log events into file or collect it remotely?

[2017-10-20 17:01] amanbha commented on #29
@mgrishkov  is it in azure?

[2017-10-20 17:25] amanbha commented on #36
If you cant do F5, could you try attaching to the service process.
In the Program.cs where you are Registering the service, add following lines at the beginning of try block, (this will block until a debugger is attached), then publish the service and attach to the service process, once debugger attaches, it will go out of the while loop and you should be able to see the actualexception in debugge

[2017-10-20 17:27] mgrishkov commented on #29
No, it is standalone single node dev-cluster.

[2017-10-20 17:30] amanbha commented on #29
On the one box, any events collector should be able to collect events, you can use PerfView

[2017-10-20 19:42] Eneuman commented on #36
I tried to add your code to my startup.cs, both before and and after the

[code]
code but the debugger wont give me any more information.
After I disabled "Just my code" debug, alots of the following errors are displayed in debug:

`Exception thrown: 'System.IO.FileNotFoundException' in System.Private.CoreLib.dll`

I have resinstalled the SDK, reset the local cluster and removed and reinstalled th

[2017-10-20 19:54] ravipal commented on #36
Is System.Private.CoreLib.dll in your package folder (TestApp\pkg\Debug\Web1Pkg\Code)?

[2017-10-20 19:58] Eneuman commented on #36
Yes it is.
![image](https://user-images.githubusercontent.com/12099277/31839528-c92b72a4-b5e1-11e7-83b4-43839de51de7.png)

[2017-10-20 20:00] Eneuman commented on #36
Looking at the error details it says:
Replica has been created on_Node_0.
Replica had multiple failures during open on _Node_0. -2147024894

[2017-10-20 20:12] Eneuman commented on #36
Running the Web1.exe from command reveals this:

C:\Temp\TestApp\Web1\bin\Debug\netcoreapp2.0\win7-x64>Web1.exe

[code]

[2017-10-20 20:48] amanbha commented on #36
That's just saying there were some issues while opening the service replica.
You mentioned about "Exception thrown: 'System.IO.FileNotFoundException' in System.Private.CoreLib.dll"
Whats the exception detail, what file its complainting about?
Since it working both for @ravipal and me, Could you share your application package, we will compare it whats generated for our machines.

[2017-10-20 21:48] Eneuman commented on #36
It doesn't say unfortently. Just a bunch of Exception thrown: 'System.IO.FileNotFoundException' in System.Private.CoreLib.dll..

You can find the complete build at:
https://links-my.sharepoint.com/personal/per_bornsjo_links_se/_layouts/15/guestaccess.aspx?docid=0e50002a6de964c2caa6e2712d86eb03c&authkey=AZo0bIdIIfNbuCRl3z_qGkw

[2017-10-20 22:30] amanbha commented on #36
@Eneuman The binaries in the preview packages are not strong name signed so wondering if that is causing the issue. Would you be possible to have skype call and I can take a look at your machine. You can send me email at amanbha@microsoft.com to setup sometime for this.

[2017-10-23 19:46] Eneuman commented on #36
Hi

I tried changing the localization to EN-US and published the project but the problem still exists.

Regards
Per

________________________________
From: Aman Bhardwaj <notifications@github.com>
Sent: Saturday, October 21, 2017 12:30:04 AM
To: Azure/service-fabric-aspnetcore
Cc: Per Bornsjö; Mention
Subject: Re: [Azure/service-fabric-aspnetcore] Latest stateful ASP.Net Core template does not see

[2017-10-25 16:59] amanbha commented on #36
Its a stateful service issue being tracked in our issues repo at https://github.com/Azure/service-fabric-issues/issues/563

[2017-10-29 02:43] amanbha commented on #36
Closing this one as its not specific to aspnet core, its related to stateful services and is being tracked in our issues repo at Azure/service-fabric-issues#563

[2017-10-29 02:43] #36 closed, assigned to nobody

[2017-10-29 02:46] amanbha commented on #34
@odysseus1973 This seems to be a machine specific issue as you are able to listen on other ports fine. I am closing the issue for now, feel free to reopen if more help is needed.

[2017-10-29 02:46] #34 closed, assigned to nobody

[2017-11-03 00:44] wasabii opened #37 "PathBase not updated"
[code]

I would expect UseServiceFabricIntegration (and the eventual ServiceFabricReverseProxyMiddleware it inserts) to set up PathBase correctly. However, its always empty. So, path ends up being /foo/bar.... and components end up referring to the incorrect path.

[2017-11-03 14:02] wasabii commented on #37
So after some more thinking, I think the default behavior of leaving PathBase blank is fine... in most cases, when you intend to put the SF reverse proxy behind yet another load balancer which itself has no prefix. But if you want to use the reverse proxy itself directly, then it doesn't quite work.

[2017-11-03 14:11] amanbha commented on #37
Thanks @wasabii I will close this issue then.

[2017-11-03 14:23] wasabii commented on #37
I wasn't really quite done.... Sorry about that. The whole "in most cases" thing needed to be expanded upon.

`UseReverseProxyIntegration` strips out the /AppName/SvcName components of the path just fine. But, it doesn't make them available from that point on. So, when further steps try to compose a URL, they end up directing to the wrong place.

Adding in `UseUniqueServiceUrl` will then add a new

[2017-11-03 14:43] amanbha commented on #37
UseReverseProxyIntegration doesn't strip out /AppName/SvcName, it would be done by the ReverseProxy so by the time call comes to these middlewares, the path will not have it. All this ReverseProxy middleware does is adds a specific header to response for 4o4 from the service.

example:
lets say a service with name fabric:/MyApp/MyService is deployed, it has a route called api/values
With UseUnique

[2017-11-03 14:45] wasabii opened #38 "Feature Request (for ReverseProxy): Add a forwarder header to include the path that was removed form url."
`UseReverseProxyIntegration` strips out the `/AppName/SvcName` components of the path just fine. But, it doesn't make them available from that point on. So, when further steps try to compose a URL, they end up directing to the wrong place.

Adding in `UseUniqueServiceUrl` will then add a new PathBase: with `/applicationId/partitionOrReplicaId`.

But there's no combination that seems to preserve `/

[2017-11-03 14:52] amanbha commented on #38
UseReverseProxyIntegration doesn't strip out /AppName/SvcName, it would be done by the ReverseProxy so by the time call comes to these middlewares, the path will not have it. All this ReverseProxy middleware does is adds a specific header to response for 4o4 from the service.
example:
lets say a service with name fabric:/MyApp/MyService is deployed, it has a route called api/values
With UseUniqueS

[2017-11-03 15:04] amanbha commented on #37
Thanks @wasabi. Sure, lets track on the new issue which you opened a little while ago, closing this one.

[2017-11-03 15:04] #37 closed, assigned to nobody

[2017-11-03 15:29] wasabii commented on #38
Okay, I understand that. The problem is I need to figure out how to get this information into the AspNetCore context, so the app can make decisions on how to construct absolute URLs into the app.

And in my particular case, I have clients which come through Reverse Proxy. So I need to generate URLs that use that.

Maybe I'm looking for another middleware set that figures THAT out?

[2017-11-03 15:50] amanbha commented on #38
Sorey, the requirement here is not clear to me, could you give a more concrete example.
From my understanding of it:
If you have clients coming through reverse proxy, then they must know the name of service, they intend to talk to and will provide it in URL to reverse proxy. If the clients are within the cluster, they don't need to go through reverse proxy, they can directly resolve the service an

[2017-11-03 18:03] wasabii commented on #38
The clients come through the reverse proxy. In the form of http://cluster:19081/AppName/ServiceName/relative/path

But, the application needs to be able to generate full URLs. It might output HTML that needs a full URL. Or, it might need to generate a Redirect to another URL.

So, ASP.Net needs to be aware of the full URL.

Yes, it could access the ServiceContext directly. But ASP.Net core code sh

[2017-11-03 18:08] amanbha commented on #38
@wasabii  When the request comes to the service, the information is not available in the path, it has been stripped out by reverseproxy, so middleware cannot put that info as it has no idea what it was. The service doesn't know whether the request came from ReverseProxy or from some other client directly and it should not depend on that.

[2017-11-03 20:39] wasabii commented on #38
Right, but ASP.Net does regularly depend on that. And that's just the way it is.

When you're outputting HTML, you quite frequently want to output working absolute paths, relative to the client's request. When you're redirecting, you need to know the proper path to redirect to. And the established convention is the PathBase should contain that info.

So I'm trying to figure out how to get it there

[2017-11-03 20:47] amanbha commented on #38
The requests can come from either SF reverse proxy, or directly or through some other custom proxy. So the middleware cannot figure out generically if its stripped out of the request. May be it can be put in some well known header by SF reverse proxy and then you write a middleware to use it the way your service wants OR your middleware can get it from service context.
Adding @vturecek for scenari

[2017-11-04 00:19] wasabii commented on #38
One convention is that the reverse proxy or load balancer sets a number of well-known headers, like `X-Forwarded-For`, `X-Forwarded-Host`, `X-Forwarded-Scheme`. And then AspNet middleware checks those headers, and replaces HttpRequest.Host, and the various variables so that the service "thinks", for instance, that the host name is the original name. And not the internal name the load balancer migh

[2017-11-06 09:33] PepijnGramberg commented on #22
@amanbha @vturecek  With the current preview (6.1.219-preview, 3.0.219-preview) netstandard libraries are available yet it looks like we still require the cmd "trick". We would like to get rid of this work around and make it code cleaner. Are there plans to support the netcoreapp dll directly as an entrypoint? And when can we expect this?

[2017-11-07 16:21] MrMint opened #39 "Reverse Proxy + HttpContext.RequestAborted"
We are looking to utilize the HttpContext.RequestAborted in order to cleanly cancel expensive requests that are no longer needed, however have ran into an issue when using the Reverse Proxy.

We are using the KestrelCommunicationListener, and have confirmed that connecting directly to the aspnetcore app and canceling the request triggers the cancellation token. When connecting via the reverse prox

[2017-11-07 18:22] amanbha commented on #39
@kavyako

[2017-11-08 00:41] kavyako commented on #39
Unfortunately reverse proxy is HTTP.SYS based and will fall into the same boat. There is not cancellation support today.
If the service is sending back chunked data to the client and the client disconnects the request to the reverse proxy, reverse proxy will close the request with the service and terminate the connection.

[2017-11-09 21:09] MrMint commented on #39
Any idea if there are plans to move it over to kestrel? I noticed some of the other issues in this repo discussing ideas around a different reverse proxy [#12](https://github.com/Azure/service-fabric-aspnetcore/issues/12) , [#11](https://github.com/Azure/service-fabric-aspnetcore/issues/11).

This is a blocker for us and we will need to roll our own gateway in the meantime.

[2017-11-15 18:53] Eneuman commented on #36
@ravipal @amanbha I just tried the latest version and this problem still occurs.

[2017-11-15 18:57] amanbha commented on #36
@Eneuman This issue of assembly resolve is being tracked as Stateful service issue at https://github.com/Azure/service-fabric-issues/issues/563 Could you please update that issue. Thanks

[2017-11-15 19:08] Eneuman commented on #36
@amanbha I'm not sure if this is the exact problem, cause now I'm just receiving
`The program '[7936] Web1.exe' has exited with code -2146232797 (0x80131623).`

I'll open a new issue for this since the not found file exception is gone.

[2017-11-15 19:24] amanbha commented on #36
@Eneuman Sounds good, makes sense, Thanks. if its not specific to aspnet core, please open it in our general issues repo at https://github.com/Azure/service-fabric-issues/issues

[2017-11-17 09:54] mgrishkov opened #40 "Unable to deploy aspnetcore stateful service"
Dear team, what happens with statefull services - I cannot deploy none of them.
I've created sample projects for aspnetcore1.0, aspnetcore1.1 and aspnetcore 2.0 and none of them cannot be deployed seccessfully. At the same time stateless service works fine.

I've just created sample application from template "Stateful ASP.Net Core" with web api service targeted to aspnetcore1.1, update servicefabr

[2017-11-17 16:17] amanbha commented on #40
Is this with services built for netcore only or with full .net as well.This issue doesn't seem to be specific to aspnetcore,  it could be related to your other issue https://github.com/Azure/service-fabric-issues/issues/627
@raunakpandya @hrushib

[2017-11-20 06:04] mgrishkov commented on #29
Unfortunately, It seems that issue connected with environment. The issue may be closed.

[2017-11-20 06:04] #29 closed

[2017-11-22 19:07] amanbha commented on #39
@MrMint There are no plans to move it to Kestrel. You can leverage API Management with Service Fabric https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-api-management-overview

[2017-11-22 19:09] amanbha commented on #32
Closing this as its available in VS preview channel now.

[2017-11-22 22:05] dbreshears commented on #17
@skrysmanski.   I believe these issues are fixed in the latest VS 2017 tooling with services using .Net Core 2.0. I tried to repro just now but couldn't.   Please re-open if you find this is not the case.

[2017-11-22 22:05] #17 closed

[2017-11-23 09:35] hrushib commented on #40
Duplicate of Azure/service-fabric-issues#639.

[2017-11-23 09:35] #40 closed, assigned to nobody

[2017-11-27 20:18] MrMint commented on #39
Good to know, thanks!

[2017-11-27 20:18] #39 closed, assigned to nobody

[2017-11-27 20:29] amanbha commented on #33
@smartpcr i am closing the issue for now because of no updates, please feel free to reopen or file a new one if you need help with this. Thanks!

[2017-11-27 20:37] #33 closed, assigned to nobody

[2017-12-18 10:58] brutaldev commented on #34
This is because you are only providing a single `KestrelCommunicationListener` and passing in the endpoint configuration name of "SSLServiceEndpoint". That endpoint  uses port 3000 so you will only be able to connect through Service Fabric on that port and not on 2000. To use both HTTP and HTTPS (or multiple ports), you need to expose multiple `KestrelCommunicationListener` instances for each of y

[2018-01-17 01:06] Tadimsky opened #41 "Kestrel or HttpSys for stateless service exposed to reverse proxy"
I'm having a hard time understanding the documentation that is out there in terms of whether to use HttpSys or Kestrel for our stateless services that are exposed to the Web via a reverse proxy.

I am running Azure Application Gateway, which then has the SF cluster set as the backend machine. We require end-to-end encryption on the traffic and so I need to have the SF application use HTTPS.

It se

[2018-01-17 03:34] amanbha commented on #41
If you are on windows and need port sharing use httpsys.
If you are on linux you will have to use Kestrel.
Reverse Proxy with Kestrel is needed in scenarios described here https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?tabs=aspnetcore2x#when-to-use-kestrel-with-a-reverse-proxy

[2018-01-17 07:44] Tadimsky commented on #41
We are running on Windows machines, but do not need port sharing (running each frontend service on its own port). We have rules on the Application Gateway to route to the right backend service.
So which one would you recommend knowing that?

[2018-01-17 14:15] helgemahrt opened #42 "Exception in ConfigureServices() leads to infinite loop"
In our case, it actually lead to a leak of a disposable Singleton object in the container. Let me explain:

We're setting up our ServiceInstanceListener with the standard code:
[code]

In our `ConfigureServices()` function there was an issue down the line, which launched an exception. However, before reaching that exception, we added a singleton to the services. E.g.:
`services.AddSingleton<IMySer

[2018-01-17 17:55] amanbha commented on #41
@Tadimsky Use Kestrel.

[2018-01-17 18:11] Tadimsky commented on #41
Ok, thanks. Is the reason you recommend that because Kestrel is the recommended host for ASP.NET Core in general?

So if I do that, then I don't set anything to do with SSL Cert in the [Endpoint config](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-service-manifest-resources) for the Service right? Like so:
[code]

I would need to ACL the cert so that the NETWORK SERVICE use

[2018-01-17 18:56] amanbha commented on #41
Yes, its recommended host. If you want port sharing then use httpsys. Yes you are right you will have to acl the private key of cert to the user service would run under(by default it would run under NETWORKSERVICE).
Yes, the benefits for specifying endpoint are listed in the link you shared.
I am not aware of a sample published, but following code snippet , should do https with kestrel aspnetcore

[2018-01-17 19:20] Tadimsky commented on #41
Ok, thank you!

So we no longer use the `url` parameter provided in the `UseUrls` function.
For the `Listen` function, should this not be pulled from the Endpoint config for port? Or is it ok to use 0 as the port? And is `IPAddress.IPv6Any` the recommended one to use?

[2018-01-17 19:41] amanbha commented on #41
yes, if you are using dynamic port, then use port 0 and you don't need any endpoint in service manifest.
If its listening on a static port specified in service manifest, you will have to read it from Endpoint config,
it will be in the url also, you can extract from url string.
Yes, IPV6Any is recommended way.

[2018-01-17 19:42] Tadimsky commented on #41
Ok, great - I'll try that. Thank you 😄

[2018-01-17 21:17] Tadimsky commented on #41
So it looks like I had to specify the certificate as a `SecretsCertificate` instead of an `EndpointCertificate` and then it works fine. Is this ok?

[code]

[2018-01-17 23:14] amanbha commented on #41
@Tadimsky The endpoint cert is httpsys, it has no impact for kestrel SecretCert works for this scenario as it ACLs the cert also but is not the intended use of SecretCert I know its little arcane to explain, we plan to simplify this cert story in future releases. Usually users setup the cert by running some script to acl cert private key to network service sid:
1.  [(setup entry point](https://doc

[2018-01-18 01:29] Tadimsky commented on #41
@amanbha just wanted to check if there was some content missing in your response - there is a bulleted list of just one item.

If `SecretsCertificate` is working for me, is that ok to use?

[2018-01-18 17:35] amanbha commented on #42
@helgemahrt  This is not related to SF and looks like aspnetcore, I see that you have already opened one in aspnet core.

[2018-01-18 17:37] amanbha commented on #41
@Tadimsky Thanks for pointing it out, indeed it was clipped somehow, I updated my my response above to include another point.
Reg. SecretCertificate, I know it works because of how its implemented and this is not its intended purpose, using it would still fall into a workaround category and dependent on implementation detail, it might change in future,

[2018-01-18 17:48] Tadimsky commented on #41
Ok, great - thank you @amanbha - using `SecretsCertificate` definitely feels hacky and so not a huge fan of it. I'll look into how to ACL the cert using a script run at deployment via ARM.
Is there any info and ETA on the certificate improvements you mentioned? (Internal only? - my alias is `joschm`)

[2018-01-18 17:54] amanbha commented on #41
@Tadimsky its in backlog as we have other high priority work items so don't have firm ETA at this moment.
I am closing this for now, if you have further questions, feel free to ping me or open other issue.

[2018-01-18 17:54] #41 closed, assigned to nobody

[2018-01-18 17:55] amanbha commented on #42
Closing this one as its aspnet core issue and tracked in the lined issue in aspnet corer repo.

[2018-01-18 17:55] #42 closed, assigned to nobody

[2018-01-30 00:07] Marusyk commented on #12
are there any plans about it? Seems Http Client library will be very useful

[2018-02-22 21:46] antonGritsenko opened #44 "Issue with EventSource integration"
Hello all

We have Service Fabric project builds using ASP.NET Core template with .NET Framework 4.6. Inside of the project we using ILogger from ASP.NET Core and EventSource build-in logger. With regular project (out of Service Fabric) it works fine, but inside Service Fabric it kind of strange behavior:
1. Events are actually generated, I can collect them to etl flle with any tools
2. During deb

[2018-02-23 18:25] karolz-ms commented on #44
Anton, what version of the SF SDK are our using?

Regarding (2) we had a similar issue with one of the SF EventSources as well, but I believe that was also fixed a couple of releases ago. When you are saying the message is related to "EventSource logger", which EventSource does it refer to, exactly?

Regarding (3) can you describe how you enabled Microsoft-Extensions-Logging EventSource? In partic

[2018-02-23 21:10] antonGritsenko commented on #44
Answers on 2 and 3 is same, this is OOB EventSource provider from ASP.NET Core https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?tabs=aspnetcore2x#eventsource

[2018-02-26 06:18] wminos commented on #38
My temporary solution for local service fabric cluster. Maybe it's not nice.
I want to know best practice for service fabric.
The service fabric is currently under review and i don't know that well.

[code]

[2018-02-26 08:18] antonGritsenko commented on #44
Sorry for delay, here is info about Service Fabric API version: 2.8.219
And here is sample project to repro: https://github.com/antonGritsenko/SF.EventSourceSample
Just run it and you will find some "The parameters to the Event method do not match the parameters to the WriteEvent method. This may cause the event to be displayed incorrectly." in output and nothing in Diagnostic Events.

~~I will tr

[2018-02-26 08:27] antonGritsenko commented on #44
well, sorry, my mistake - sample project already with the latest API.

[2018-02-28 01:00] karolz-ms commented on #44
I cannot reproduce the issue using the project you provided, sorry.

On my machine I did uninstall previous SF SDK and SF runtime, installed the latest one using Web Platform Installer & run the app. The only change that I made was to set the platform for the service project to x64, which is a common SF requirement as you probably know.

Can you try on a different machine?

[2018-02-28 08:08] antonGritsenko commented on #44
Hm, this is interesting. So everything works for you including events in Diagnostic Events window in Visual Studio?

[2018-02-28 17:03] karolz-ms commented on #44
@antonGritsenko that is correct

[2018-03-01 11:32] antonGritsenko commented on #44
Sorry for silence, I need some time to prepare new machine

[2018-03-01 12:34] cfahrenholz commented on #17
I had a similar problem when I was not able to debug my .Net Standard 2.0 library. I had to disable "Use Managed Compatibility Mode" under VS Tools -> Options -> Debugging -> General.

[2018-03-06 18:59] billysug opened #45 "Potentially leaking WebHostBuilder in CreateServiceInstanceListeners()"
Can we look into this potential issue leaking WebHostBuilder in CreateServiceInstanceListeners().  Is this supposed to be cleaned up in StatelessService.OnCloseAsync() or ICommunicationListener.CloseAsync()?  Should the customer write any code to override StatelessService.OnCloseAsync() as stated in documentation?

0:000> !dumpheap -type WebHostBuilder -stat
Statistics:
              MT    Count

[2018-03-06 19:26] amanbha commented on #45
WebHost is disposed in CloseAsync https://github.com/Azure/service-fabric-aspnetcore/blob/01bec82608e9ae280a4ac4ecd2ba28a5c2467744/src/Microsoft.ServiceFabric.AspNetCore/AspNetCoreCommunicationListener.cs#L125

WebHostBuilder is not given to CommunicationListener, it only gets WebHost from user code, so WebHostBuilder cant be disposed in CommunicationListener.
Please clarify if I missed something

[2018-03-13 23:36] BuddhaBuddy1 commented on #34
What NuGet package is FIndCertificate() and NameType defined? I'm using ASP.NET Core 2.0 and I don't see it anywhere.

[2018-03-30 06:44] wminos commented on #44
I do not know if I understand this article correctly,
But I also don't see any Logs generated by ILogger in Diagnostic Events.
(CustomEventSource is implemented, .AddEventSourceLogger is added, And Add ETW Provider name(EventSource) is inputed at Diagnostic Events Configure)

[2018-03-30 15:22] karolz-ms commented on #44
@wminos the name of the EventSource that EventSourceLogger is using is "Microsoft-Extensions-Logging". Can you confirm you have included that EventSource in the Diagnostic Events window configuration?

[2018-03-30 17:28] mgrishkov commented on #44
You have to specify event source with leading asterisk to catch events. Something like '*Microsoft-Extensions-Logging'

[2018-03-30 17:50] karolz-ms commented on #44
@mgrishkov no you don't, not inside Visual Studio. Visual Studio does not require the asterisk for Event Sources in the Diagnostic Events window.

[2018-04-03 08:25] wminos commented on #44
@karolz-ms Thank you.
But after I add 'Microsoft-Extensions-Logging' at ETW Providers configure,
Below error occurs. And ILogger logs are empty. (both My Application And SF.EventSourceSample)
(No error message found anywhere.)

![errormessage](https://user-images.githubusercontent.com/36513305/38239132-d810ce20-3766-11e8-9d56-b87a9b5fa600.png)
[code]

[2018-04-03 15:33] karolz-ms commented on #44
These errors are usually transient and VS should be able to recover. Would it be possible for you to share an application that exhibits the problem, so that I can try to reproduce it myself?

[2018-04-04 04:50] wminos commented on #44
@karolz-ms

Environment
* Windows 10
* Service Fabric SDK 3.0.480
* Visual Studio 2017 15.6.4
-------------------------------
This error occurs too at shared project by antonGritsenko.
(https://github.com/antonGritsenko/SF.EventSourceSample)

The problem still occurs.

[2018-04-04 04:58] wminos commented on #44
Just custom logging cause the above error. (ETW LISTENER ERROR MESSAGE)

For reference, the internal logs of the ASP.NET Core framework are displayed well as follows.
[code]

[2018-04-05 21:15] chuanboz opened #48 "Integrate with generic host (IHost interface) in asp.net core 2.1"
asp.net core is refactor with generic host in https://github.com/aspnet/Hosting/issues/1163 that has better support on DI and lifecycle management etc, but I do not see an integration for the ServiceFabric-AspnetCore.

the ask is to provide a ServiceFabricHost that implement IHost interface, to wrap the generic logic to register service type and also creating service instance.

here are specific d

[2018-04-05 23:39] amanbha commented on #48
+ @vturecek for feature request review, @chuanboz Could you also share more details for this feature request on how it would tie with SF and what scenarios you want to use it for, feel free to share a sample code demonstrating this?

[2018-04-09 20:17] karolz-ms commented on #44
Sorry for late reply @wminos. I am able to reproduce the problem--looks like a bug in the VS diagnostics events window. Thank you for the report! I am going to pass this to the owners of the feature.

[2018-04-09 21:36] chuanboz commented on #48
I will use this feature in Microsoft Intune which builds on top of Service Fabric + Asp.net Core. Within Intune we have many Microservice teams and one common infra team, I want to leverage the flexible extensions support provided by the generic host and hook it up with Service Fabric, so that each Microservice team register their custom logic follow the generic host extension point, while as comm

[2018-04-11 04:16] chuanboz commented on #12
any update for this one?

[2018-04-11 22:20] amanbha commented on #12
@chuanboz  At this point this is low in priority because of other high priority work items for ServiceFabric team. For service resolution please use Service Fabric Reverse Proxy.

[2018-04-18 10:11] lilraft opened #49 "HttpSys single port sharing random 503 service unavailable"
I'm hosting several .net core 2.0 stateless services under Azure service fabric with 3 nodes staging cluster and now trying to set up single port sharing between them via HttpSys & HttpSysCommunicationListener (as described here https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-aspnetcore#httpsys-in-reliable-services ).
Each service has 2 instance

[2018-04-18 17:04] amanbha commented on #49
@lilraft
Lets consider the scenario which you have explained:
You have 2 instances of services S1 & S2 in a 3 node cluster N1, N2 and N3, lets says service instances are deployed in following way:
- N1 has S1, S2
- N2 has S1
- N3 has S2

Now your load balancer is configured to forward traffic to 8162 for both the services, Only following calls will be serviced:
- calls for S1 routed to N1 and N2
-

[2018-04-18 22:07] vitalybibikov opened #50 "dotnet restore fails on sfproj when netcoreapp2.0 are referenced"
Currently in solution we have several netcoreapp2.0/net47 services that are referenced by sfproj.

When solution is built using MSBUILD/VS 2017 it builds just fine,
but when we are assembling the solution using "dotnet build" or restoring it with "dotnet restore"
it breaks with

` ServiceFabricApplication.sfproj(61,5): error : Unable to find the '..\packages\Microsoft.VisualStudio.Azure.Fabric.MSB

[2018-04-18 22:24] amanbha commented on #45
@billysug I am closing it, please feel free to reopen if you need more help.

[2018-04-18 22:24] #45 closed, assigned to nobody

[2018-04-20 05:06] wminos commented on #44
I installed the latest version (Service Fabric SDK 3.1.262, Runtime 6.2.262), but there are still issues.

[2018-04-20 09:58] lilraft commented on #49
@amanbha thanks! this helps!

[2018-04-21 07:33] chuanboz commented on #9
any update for this feature request?

[2018-04-21 15:06] amanbha commented on #9
@chuanboz At this point this is low in priority because of other high priority work items for ServiceFabric team. You can use the code in the PR mentioned in the first post of the issue, feel free to send us.a PR with the changes for the merge back.

[2018-04-23 17:39] chuanboz commented on #9
sure, I will try to provide a PR that address the 4 points @vturecek mentioned. I will start to work on this now and try to get it by the end of May.

[2018-04-24 16:52] dbreshears commented on #50
@EvilAvenger ,  dotnet build/restore is not something we currently support with .sfproj since our underlying project system is not dotnet core based.   You would indeed need to use MSBuild.

[2018-04-24 16:52] #50 closed, assigned to nobody

[2018-04-24 17:40] chuanboz commented on #9
@vturecek， regarding "Parameters in settings.xml may be encrypted. This should support reading both encrypted and plaintext values."

I see the sample from @MikeWasson handle the encrypted string as follow

[code]
that seems violate the security guidelines. A typical safety guideline is to keep them encrypted in memory, and then decrypt (briefly) at time of use.

so I would suggest to treat encryp

[2018-04-25 04:55] chuanboz commented on #9
One more thing while I am looking at implement this, I see the Settings.xml format has some limitation that it only support section/parameter 2 levels, if use Json file as the configuration file then it adds much flexibility.

As Service Fabric also supports Data Packages which could be any format, one possibility I see, would be to also add the Json file format to this configuration source using

[2018-04-25 07:36] DixonDs commented on #9
@chuanboz As far as I remember, normally implementations flatten the configuration sources with multiple levels using ":" as the delimiter.See https://github.com/aspnet/Configuration/blob/dc6fbde39f532bf154ee1eb02d8be08a0a1605e4/src/Config.Abstractions/ConfigurationPath.cs and its usages in implementations. So basically it allows emulating multiple levels in configuration sources like environment

[2018-04-25 15:07] amanbha commented on #9
@chuanboz  Having it in Config package in settings.xml allows it to be overwritten at application creation time by application parameters.

[2018-04-25 19:40] chuanboz opened #52 "Better configuration source support for hierarchical settings for shared library in multiple environments"
# Background
For a large product in a large organization (like Microsoft Intune), we have Infra team that handle common horizontal logics apply to all the Microservice in the product, we also have Microservice team that actually own the service logic deployed to Service Fabric. Infra team and Microservice team have different repos and we also have different environments like development, staging,

[2018-04-25 19:54] amanbha commented on #52
Approach 1 is same as https://github.com/Azure/service-fabric-aspnetcore/issues/9 for configuration package
@chuanboz  For approach 1, the settings don't need to be spread across manifests, you only need to do that if you are overriding the values using application a parameters. Could you explain more about the cons? Overriding the settings values using application manifest is a huge pros.

Adding

[2018-04-25 19:54] chuanboz commented on #9
I've created a new issue #52 to describe the Json configuration scenario requirement.
@DixonDs, thanks for reference ":" support, I see that could make the hierarchy settings work in parameter but that seems like a hack and kind of ugly than the nature Json file experience.

@amanbha, the built-in override experience is not that ideally for us, see detail that I describe in issue #52 .

for now I

[2018-04-25 20:01] chuanboz commented on #52
#9 does not have the multiple team/repo support, it work for the case where one team fully own the settings authoring experience. As I call out, in our workflow we have at least 2 teams own the experiences, infra team own the default settings in one repo, and Microservice team own more specific override, and those settings eventually needs to be merge. We do not want such merge process to be manua

[2018-04-25 20:21] amanbha commented on #52
@chuanboz For the scenario you mentioned, you don't need to merge application manifest to support parameter overrides. The parameter overrides happen at application creation time https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-manage-multiple-environment-app-configuration#specifying-parameters-during-application-creation

[2018-04-25 22:29] chuanboz commented on #52
I checked the link you give, that still does not work well for our workflow. because for parameter override to work, the application manifest needs to define those parameters first.
the conflict that I see is, in our case Infra team define the default settings and every parameters could be override-able, we do not require Microservice team to declare it to override the value, they just make a copy

[2018-04-25 22:51] amanbha commented on #52
@chuanboz  So basically you are just overriding the config value directly in the built package (settings or json) rather than overriding it when creating application. Scenario which you are explaining is too specific to your use case. and doesn't apply to every in general. Sorry but solution 2 isn't very generic and too specific for the use case.
Most users override the values using application pa

[2018-04-25 23:37] chuanboz commented on #52
I just find a good balance that does not require SF aspnetcore package to dependent on Newtonsoft.Json, while still enable my scenario, by expose a config action delegate so that I could implement that delegate myself in my repo, will that be OK for you?

[code]

so the advanced end user will provide the configAction to enable their specific use case in solution 2, but majority people could still

[2018-04-25 23:54] amanbha commented on #52
Thanks @chuanboz  Introducing that extension point seems doable. We can discuss about it, we're busy right now with the Build conference coming up, but in a couple weeks we'll definitely take a close look at this. In the meantime you can prepare the PR for Solution 1.

[2018-04-28 05:51] chuanboz opened #53 "Update asp.net core dependency to 2.0"
I just find the current asp.net core dependency used is 1.0, which is very old.

Suggest to update it to 2.0, and might consider to bump it to 2.1 a few months later when asp.net core 2.1 released.

[2018-04-28 05:56] amanbha commented on #53
@chuanboz thanks for the suggestion, but we can't update that because our users are still using aspnetcore 1.0 and 1.1.
You can update the aspnetcore package in your service.

[2018-04-28 05:56] #53 closed, assigned to nobody

[2018-05-03 17:47] chuanboz opened #54 "Test support: expose public constructor for sealed class used in ICodePackageActivationContext interface"
While implementing #48 and #9 , I'm trying to provide a complete test that could fully cover the logic, I found that ICodePackageActivationContext interface has referenced many sealed class in System.Fabric that does not have public constructor.

Some examples are:
1. ConfigurationPackage
2. ConfigurationPackageDescription
3. ConfigurationSettings
4. ConfigurationSection

Right now one workaround

[2018-05-10 17:22] amanbha commented on #54
Thanks @chuanboz for bringing this up, I understand the issue which sealed classes with no public constructor poses when it comes to mocking. This repo tracks issues related to aspnet core service fabric integration, the issue you mentioned is for Service Fabric in general, could you please open this under Service Fabric issues repo at https://github.com/Azure/service-fabric-issues/issues

[2018-05-10 17:34] amanbha commented on #54
Closing it as its being tracked in Service Fabric Issues repo at https://github.com/Azure/service-fabric-issues/issues/1048

[2018-05-10 17:34] #54 closed, assigned to nobody

[2018-05-10 17:50] amanbha commented on #49
@lilraft I am closing this issue, please feel free to reopen if you have any more questions.

[2018-05-10 17:50] #49 closed, assigned to nobody

[2018-05-28 08:49] vitalybibikov commented on #50
I know, still we have a lot of issues with MsBuild. The desire is to throw it away from our CI/CD.

https://github.com/Microsoft/service-fabric/issues/142 is an example.

[2018-05-29 10:28] SteveSandersonMS opened #55 "Template updates"
Hi there. Are the Service Fabric versions of the ASP.NET Core templates maintained in this repo? Or if not, can you point me to wherever they are currently maintained?

We have a customer report that the Service Fabric File-New path is still using the older ASP.NET Core templates (below). Who would be involved in updating this? Thanks.

-----

**Template not used when adding .net Core stateless se

[2018-05-29 16:59] amanbha commented on #55
@SteveSandersonMS  This is not the repo for Service Fabric aspnetcore templates, @dbreshears can help with this.

[2018-05-30 10:29] SteveSandersonMS commented on #55
Thanks @amanbha!

@dbreshears, could you let me know where the Service Fabric ASP.NET Core templates are maintained? What's the process/timeline for migrating updates from the original sources in https://github.com/aspnet/templating/?

[2018-05-30 21:18] amanbha commented on #52
@chuanboz Tracking this with #9 , As discussed during our skype call, please share the PR for it when available. Thanks!

[2018-05-30 21:18] #52 closed, assigned to vturecek

[2018-05-31 13:58] MorochoJaime commented on #34
Context.CodePackageActivationContext.GetEndpoints() HostingApplication.Context does not contain a definition for CodePackageActivationContext. Help please!!!

[2018-06-04 07:34] Joostul commented on #34
@MorochoJaime context should be of type System.Fabric.StatelessServiceContext.

[2018-06-04 14:44] kwaclaw commented on #44
Is this related to https://github.com/aspnet/Logging/issues/844 ?

[2018-06-04 15:32] karolz-ms commented on #44
@kwaclaw to me [aspnet/logging 844](https://github.com/aspnet/Logging/issues/844) looks like a separate issue. This kind of error message is usually a result of a bug in one of the EventSource's used by the application, and not an issue with the EventSourceLogger.

The issue described here is a bug in Visual Studio. If you pick up the latest VS 2017 update (or install latest SF tools for VS 2015,

[2018-06-05 03:02] wminos commented on #44
It seems to work normally in ServiceFabric SDK 3.1.283.

[2018-06-06 06:29] dbreshears commented on #55
@SteveSandersonMS, sorry for the delay, I was OOF.    The service templates use the built in  ASP.NET Core templates and after project creation, we do some post processing on them to add Web1.cs and update program1.cs.    Do you see the same issue if you simply  create an ASP.NET Core project without Service Fabric?

[2018-06-06 08:23] John-Bell commented on #55
Hi @SteveSandersonMS and @dbreshears

Apologies, I was using dotnet new to create the angular template which used the new template.  You're right, using VS 15.7.1 to create a new .net core application via VS uses the old template.

So currently there's no easy way to add a new 'angular' Service Fabric service except to hand craft it from a project created with dotnet new. (Which is what I had to d

[2018-06-25 21:06] CuddleBunny opened #59 "SpaServices / Webpack with Service Fabric"
Not really sure where the best place to put this is, but I've been trying to create a front-end web service with webpack / HMR @ dev time. After struggling for a while trying to implement on my own I added a copy of the Angular SpaServices project only to find that even that one does not support HMR and just builds one time on publish.

It kinda makes sense that this wouldn't work (except perhaps

[2018-06-25 21:11] amanbha commented on #59
@CuddleBunny https://github.com/Azure/service-fabric-issues/issues would be a better place for this

[2018-06-26 00:33] CuddleBunny commented on #59
@amanbha - thanks. Seems like it does work with refresh mode, I'll close this issue.

Edit: Spoke too soon, will open a new issue there.

[2018-06-26 00:33] #59 closed, assigned to nobody

[2018-07-09 22:59] darrenfurr opened #60 "SignalR & Autofac: Client disconnects on WS/SSE"
Server:
Microsoft.AspNetCore - 2.1.1
Microsoft.AspNetCore.SignalR - 1.0.1
Microsoft.ServiceFabric - 6.2.301
Microsoft.ServiceFabric.AspNetCore.Kestrel - 3.1.301

Client:
"@aspnet/signalr": "^1.0.0"

Operating Systems:
Windows 10 Enterprise Version 1803

Browsers:
Chrome 67.0.3396.99 (Official Build) (64-bit)

When utilizing SignalR with the latest version of ServiceFabric - our angular client disc

[2018-07-11 17:12] mozts2005 commented on #55
@dbreshears I have a custom asp.net core template that I would Like to use with Service fabric is there a way I can have it show in the visual studio ui just like the default templates and receive the same post-processing?

[2018-07-11 17:26] amanbha commented on #60
@darrenfurr,  this repo is for the aspnetcore Service Fabric integration libraries.
Ideally this should be opened in SignalR repo, but I can try to take a look at it, Could you please share a sample repro for this.

[2018-07-19 16:02] darrenfurr commented on #60
@amanbha - I'm working on spinning up a PoC, gathering logs. I'll send a link to the repo

[2018-07-20 23:12] darrenfurr commented on #60
@amanbha - it appears that after spinning up a PoC, this issue was caused by my autofac implementation. It appears to be related to how I was registering the autofac container with aspnetcore.

Inside the Configure method, I was doing:
`app.ApplicationServices = new AutofacServiceProvider(this.Container);`

And then inside of ConfigureServices:
`return services.BuildServiceProvider();`

I removed

[2018-07-20 23:12] #60 closed, assigned to nobody

[2018-07-27 23:44] dbreshears commented on #55
Sorry for the delay.  Yes,  here is a sample VSIX that worked in the 15.3 timeframe and should still work.

[StatelessWebApi.zip](https://github.com/Microsoft/service-fabric-aspnetcore/files/2237490/StatelessWebApi.zip)

[2018-07-30 17:08] mozts2005 commented on #55
@dbreshears  worked like a charm thanks

[2018-09-11 17:01] #55 closed, assigned to nobody

[2018-09-11 17:01] #44 closed, assigned to nobody

[2018-09-20 20:13] RamjotSingh commented on #9
@chuanboz Is the PR up? I have written code which does this I can send the PR if you haven't started working on it and I can incorporate feedback you have based on your learnings.

[2018-09-20 20:53] chuanboz commented on #9
the PR is here: https://github.com/Microsoft/service-fabric-aspnetcore/pull/58
there are open issue raised by Aman I haven't had time to resolve yet.

[2018-09-21 00:05] chuanboz commented on #9
I've updated the PR  #58 to address the issue raised by Aman. @RamjotSingh , can you also take a look of the PR and see if that will also work for your scenario?

[2018-09-25 22:16] RamjotSingh opened #61 "Microsoft.ServiceFabric.AspNetCore.Configuration takes hard dependency on 3.1.274 of SF Services package and does not allow for higher version"
**Describe the bug**
Current nuspec of Configuration package declares this in the nuspec
    <dependencies>
      <dependency id="Microsoft.ServiceFabric.Services" version="[3.1.274]" />
      <dependency id="Microsoft.Extensions.Configuration" version="1.0.0" />
    </dependencies>

**To Reproduce**
Build the nuget package

**Expected behavior**
All versions above 3.1.274 should be allowed.

@ama

[2018-09-25 22:38] chuanboz commented on #61
Do you see that's specific to Configuration package or apply to other Microsoft.ServiceFabric.AspNetCore.* package as well?

for reference, in configuration package, I declared the reference as this similar to other project:
[code]

[2018-09-25 22:41] chuanboz commented on #61
In service-fabric-aspnetcore\properties\service_fabric_common.props, that variable is defined as below
[code]

[2018-09-25 22:43] amanbha commented on #61
@chuanboz  let me update this in develop branch to pull in latest release of Service Fabric runtime.

[2018-09-25 22:52] RamjotSingh commented on #61
The problem is the [] not the version. [] means a specific version needs to be installed which looks wrong :(

[2018-09-25 22:56] RamjotSingh commented on #61
I sent the PR to allow any version higher than the current one https://github.com/Microsoft/service-fabric-aspnetcore/pull/63

[2018-09-25 23:13] RamjotSingh opened #64 "Move Configuration extensions to Microsoft.Extensions.DependencyInjection"
The extension method for add configuration provider is in Microsoft.ServiceFabric namespace. Usually packages (like AppInsights and others) tend to add these methods to Microsoft.Extensions.DependencyInjection namespace. Do you think it will be better to move it there for easy discoverability?

@amanbha @chuanboz

[2018-09-25 23:19] chuanboz commented on #64
I do notice this myself, but couldn't find an official recommendation on that for namespace. Do you know if there is any public document specifically called that out as recommendation?

[2018-09-25 23:56] RamjotSingh commented on #64
I can't really find documentation on it. However AzureKeyVault, File and JsonFile all providers have their extensions in Microsoft.Extensions.Configuration namespace. Maybe it makes sense for SF to move it there as well?

[2018-09-26 00:23] amanbha commented on #64
If there is no official doc or suggestion, then let's keep it in SF namespace and follow the convention of this repo.

[2018-09-26 00:23] #64 closed, assigned to nobody

[2018-10-02 10:24] nhdmalik commented on #34
Hi I am facing issue of infinite loop of calling CreateServiceInstanceListeners, I want to run on both http and https, can anyone see the attached application and guide me what is wrong?

[TestHttpsApp.zip](https://github.com/Microsoft/service-fabric-aspnetcore/files/2437468/TestHttpsApp.zip)

[2018-10-16 23:26] chuanboz commented on #9
@amanbha , I see version [3.2.187 of Microsoft.ServiceFabric.AspNetCore.*](https://www.nuget.org/packages?q=Microsoft.ServiceFabric.AspNetCore) is released 15 days ago, but that does not include this new Microsoft.ServiceFabric.AspNetCore.Configuration package, is there any further work needed to get Microsoft.ServiceFabric.AspNetCore.Configuration package released?

[2018-10-16 23:28] chuanboz commented on #9
also, which github repo shall I use to fire a document issue to get the usage of this new configuration package publically documented in https://docs.microsoft.com?

[2018-10-16 23:30] amanbha commented on #9
@chuanboz  3.2.*187 was just a cumulative release and only contained bug fixes. Our current release (3.3 sdk) is already in lockdown, so it will be part of 3.4 sdk release. I will see if I can make a one off release for this package, once 3,4 is out. For documentation, please send email to @amanbha  and @vturecek

[2018-10-23 18:02] ericcox opened #65 "ASP.NET core Windows Authentication, Service Fabric vs no Service Fabric"
**Describe the bug**
Using SF SDK 3.2.187.9494, Runtime 6.3.187.9494, and .NET Core SDK 2.1.403. I've been trying to create a stateless service with an ASP.NET Core API that does Windows Authentication.  The default template for ASP.NET Core, without Service Fabric, works fine - if I browse to <site>/api/values, I can set a breakpoint in the controller code and HttpContext.User.Identity.IsAuthenti

[2018-10-24 01:23] Tratcher commented on #65
In the ASP.NET Core app you've enabled Windows Auth via IIS Express, not in the app itself.

In the ServiceFabric app I see no indication you’ve enabled windows auth, only an Authorize attribute.  It’s even using the KestrelCommunicationListener which does not support windows auth. You’d need to use HttpSys instead.
https://azure.microsoft.com/en-us/blog/windows-authentication-in-service-fabric-an

[2018-10-24 01:48] ericcox commented on #65
Thanks for the info. I got it working a short time ago with Http.sys after much reading and trial & error.

I chose windows auth in the Change Authentication dialog when creating the project.
![screencap](https://user-images.githubusercontent.com/230405/47400933-122b6c00-d6f4-11e8-8aec-3720fcca9e4f.png)

Perhaps this choice should be disabled until the templates support it by using http.sys.

[2018-10-24 01:48] #65 closed, assigned to nobody

[2018-10-24 02:47] Tratcher commented on #65
Those are the ASP.NET Core templates, they support it via IIS Express.

How did you create the Service Fabric app?

[2018-10-24 15:42] ericcox commented on #65
I just did File -> New -> Project, and then selected Cloud, Service Fabric Application.  Then I setup the project name, chose .NET Framework 4.7.1, hit OK.  On the New Service Fabric Service dialog, I chose Stateless ASP.NET Core and hit OK.  The next dialog is in the screencap above.

[2018-10-24 15:56] Tratcher commented on #65
Ah, SF is borrowing the normal web app templates and dialog rather than creating their own. That's not ideal when they don't support all of the configurations.

[2018-10-24 17:11] amanbha commented on #65
I will share this feedback with Service Fabric VS tools team.

[2018-10-24 18:42] dbreshears commented on #65
Thanks.. Will investigate what we can do here as we do have some control when we launch the asp.net dialog as to what shows and what doesn't.

[2018-10-26 10:16] OlegKarasik commented on #48
@chuanboz Can you take a look at this [project](https://github.com/coherentsolutionsinc/aspnetcore-service-fabric-hosting)? Maybe it can be of any use.

[2018-10-26 17:23] chuanboz commented on #48
thanks @OlegKarasik  for the link of your implementation on the similar idea to link generic host and service fabric, glad to know that I'm not alone here.

I have implemented above already and is using it in Microsoft Intune, but after discussing with @amanbha  and @vturecek  from Service Fabric team, they are hesitate to take the contribution for this yet in favor of [Service Fabric Mesh](https:

[2018-10-26 17:33] chuanboz commented on #48
and for reference, here is the core interface that I used to implement this to link generic host with service fabric by translate the host service provider to service replica service provider, rest of interface are just the public one from generic host or from service fabric.

[code]

[2018-10-29 06:40] OlegKarasik commented on #48
@chuanboz Thanks for the great comment!

I didn't dive deep into Mesh but as far as I understand (and hope) it isn't a replacement for Service Fabric (because if I am not mistaken there is no way to create stateful services in Mesh). I think when we would have a first release of Mesh then Service Fabric team will have some time to take a look at what community did to integrate generic host and Ser

[2018-11-22 05:46] fleed opened #66 "Setup with Nginx and reverse proxy"
I have the following setup:

`Nginx -> SF Reverse Proxy -> .net core web application (hosted as stateless service)`

The problem: all links in the Asp.net core application are generated using the machine name and the internal port of the service, and not with the original address.
Example:
**Browser url**: http://mywebsite.com/
**Generated links**: http://{machine_name}/SFApplicationType/SFService

[2018-11-23 09:12] Marusyk commented on #66
Try to change `ServiceFabricIntegrationOptions.UseReverseProxyIntegration` to `ServiceFabricIntegrationOptions.None`

[2018-11-26 04:14] fleed commented on #66
I was able to my goal with the following fragments:

[code]

**Startup.cs** [`Configure (IApplicationBuilder app)`]

[code]

**nginx** config:

[code]

I'm not sure if all of them are needed or there are side effects, so I'm still testing all scenarios.

[2018-11-30 15:09] alexander-narbut commented on #34
@nhdmalik I had the same issue, fixed by passing "endpoint.Name" to the optional "name" parameter of ServiceInstanceListener

[2019-02-19 12:15] RicoSuter opened #69 "Microsoft.ServiceFabric.AspNetCore.Configuration package missing on nuget.org"
**Describe the bug**
According to the description, there should be a NuGet package with the ID "Microsoft.ServiceFabric.AspNetCore.Configuration" but we cannot find it on nuget.org

**To Reproduce**
Go to https://www.nuget.org/packages/Microsoft.ServiceFabric.AspNetCore.Configuration/ => 404

**Expected behavior**
There should be a package on nuget.org

**Additional context**
Is there a reason why

[2019-02-19 18:10] shessane commented on #69
The package Microsoft.ServiceFabric.AspNetCore.Configuration is not yet released. You are reading the description of the develop branch.

You can look at some release branch description, there is no mention of this package.

However I'm curious to know when the team will release (or pre-release) this package

[2019-02-26 23:35] RicoSuter commented on #69
@shessane thanks for your answer.
@amanbha do you have an ETA?

[2019-02-26 23:40] amanbha commented on #69
@chuanboz Have you tested the package in your environment, and documented the usage, please let me know and we can discuss the release dynamics of this package.

[2019-02-27 00:06] chuanboz commented on #69
The package is working well in my test environment but we haven't used it in production environment yet. For documented, it's tracked in https://github.com/MicrosoftDocs/azure-docs/issues/17193, I haven't do it yet but let me start to add it.

[2019-02-27 01:57] chuanboz commented on #69
@amanbha, I've added document and sent a document PR here: https://github.com/MicrosoftDocs/azure-docs/pull/25809.

@RSuter  and @shessane, please also help me review the document PR to make sure usage is clear and easy to follow for you.

[2019-02-27 23:39] BinWuMSFT commented on #65
@ericcox Could you share the SF project you modified and applied Http.sys on and it is working?

[2019-02-28 18:25] chuanboz commented on #69
@amanbha , PR is merged in Azure Docs private repo https://github.com/MicrosoftDocs/azure-docs-pr/pull/68034

[2019-02-28 18:58] amanbha commented on #69
Thanks @chuanboz I will look into releasing the nuget for it soon.

[2019-03-20 15:11] NArnott opened #70 "SF Reverse Proxy and AspNetCore Healthchecks that return a 503"
**Is your feature request related to a problem? Please describe.**
I'm implementing health checks that were introduced in AspNetCore 2.2. If a health check produces an unhealthy result, the resulting http health check returns a 503.

However, when accessing my service through the SF reverse proxy, 503 causes an endless retry loop and the client never gets a response.

**Describe the solution you'd

[2019-03-20 18:48] amanbha commented on #70
503 is service unavailable so Reverse Proxy re-resolves. Does your service keep on returning 503 once it gets unhealthy result and never returns back to normal operation.
Adding the new value to header would need a corresponding change in ReverseProxy to handle it. Can the existing "ResourceNotFound" value be used for this.

[2019-03-20 18:57] NArnott commented on #70
The health check url, for example, would be GET http://mydomain/health. I want this to return 503. I don't want the Reverse Proxy to retry it, as that kind of negates the reason for it in the first place. For example, nginx could hit this endpoint to determine if the service is down and stop sending requests to that service. Right now, the call to /health will just hang because the SF reverse prox

[2019-03-20 19:40] amanbha commented on #70
Thanks for explaining your scenario, Is 503 retuned by your code or its the error code returned by aspnetcore? 503 http code means service unavailable and that's why ReverserProxy is retrying.

@kavyako Adding the new value to header would need a corresponding change in ReverseProxy to handle it. Can the existing X-ServiceFabric: ResourceNotFound header value be used with 503 to disable resolves O

[2019-03-20 19:47] NArnott commented on #70
The 503 is returned by the default AspNetCore Health Checks implementation (https://github.com/aspnet/Diagnostics/blob/master/src/Microsoft.AspNetCore.Diagnostics.HealthChecks/HealthCheckOptions.cs).

I understand why the reverse proxy is doing what it's doing, but in this case, it doesn't make sense for it to retry, and the goal of a health check is to know the current state of the service, witho

[2019-03-23 01:13] amanbha commented on #70
@NArnott I discussed this offline with @kavyako and we will add this to ReverserProxy (for our future SF runtime release) to handle the case for 503, the exact header details is still TBD at the moment.
I was thinking that to unblock you for now, could you add a middleware which detects this and return 404 with X-ServiceFabric: ResourceNotFound so that ReverseProxy doesn't do a reresolve on it for

[2019-03-25 13:26] NArnott commented on #70
@amanbha Thanks for the following up, and am looking forward to the new feature.

I'm thinking for now I'll just adjust the health checks to return a 200 as well, and I'll pass something in the body of the response that reveals the true status. A bit hacky, but should work for the short term.

[2019-04-01 16:30] mathavanmani opened #72 "Getting 502 BadGateway Error"
Hi,

Getting 502, BadGateway error part of the Service Fabric ASP.Net core web API.

One  of the Put Method I have got part of a controller takes more than 10 mins to execute, But I'm getting 502/BadGateway response in 2 mins time. I have done the following bits.

1. Setting timeout part of KestrelCommunicationListener
    return new WebHostBuilder()
                                    .UseKestrel

[2019-04-04 16:23] amanbha commented on #72
@mathavanmani  This doesn't seems like a Service Fabric issue, could you debug your service code for this call?

[2019-04-04 16:24] amanbha commented on #69
Itss released on nuget.org https://www.nuget.org/packages/Microsoft.ServiceFabric.AspNetCore.Configuration/

[2019-04-04 16:24] #69 closed, assigned to nobody

[2019-04-04 16:25] amanbha commented on #9
Its released on nuget.org
https://www.nuget.org/packages/Microsoft.ServiceFabric.AspNetCore.Configuration/

[2019-04-04 16:25] #9 closed

[2019-04-25 18:47] amanbha opened #74 "Inject configuration into ASP Core correctly"
Tracking the issue in SF aspnetcore repo as well
https://github.com/Microsoft/service-fabric/issues/319

[2019-04-25 18:48] amanbha commented on #74
Closing as original issue has been closed. Please see original issue for full detail and discussion.
https://github.com/Microsoft/service-fabric/issues/319

[2019-04-25 18:48] #74 closed, assigned to nobody

[2019-05-03 21:15] amanbha commented on #70
@NArnott  This feature has been added to Sf ReverseProxy, it will not try to reresolve again when header  X-ServiceFabric=NoRetry is present. This is available starting with runtime version 6.4.658

[2019-05-03 21:15] #70 closed, assigned to nobody

[2019-06-03 16:46] davidelettieri opened #75 "Issue with asp.net core and SSL"
I got the following exception randomly when calling the asp.net core web api hosted in a service fabric production environment. The app is targeting .net core 2.2

What can I do to troubleshoot this issue?

   at System.Net.Security.SslState.StartReadFrame (System.Net.Security, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a)
   at System.Net.Security.SslState.PartialFrameCallbac

[2019-06-07 12:18] #75 closed, assigned to nobody

[2019-06-13 18:31] #72 closed, assigned to nobody

[2019-07-03 18:00] johncrim commented on #48
This definitely still needs to be implemented - from https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-3.0 :

Note that IHostedService is very similar to ICommunicationListener.

While addressing this, I would also like to see separation between building the app (configuration, services, http pipeline) and creating listeners. For example, it should be easy

[2019-07-03 18:06] amanbha commented on #48
@johncrim  Thanks for offering to contribute, sure, we would consider your contribution as long as tis not a breaking change. Please feel free to create a PR.

[2019-07-03 20:29] chuanboz commented on #48
@johncrim , in your design to use IHostedService as ICommunicationListener, can you clarify the following:
1. does the service fabric host and asp.net core app share the same IServiceProvider or different, and how do you plan to handle the case of multiple service instances hosted on the same process?
2. does asp.net core app and service fabric host share the same lifetime, in other words if the a

[2019-07-04 07:37] OlegKarasik commented on #48
Hi @johncrim @amanbha,
I have worked on the [project](https://github.com/coherentsolutionsinc/aspnetcore-service-fabric-hosting) that does integration with generic host (I was mentioning it about a year ago in the comments above in discussion with @chuanboz).

Does it looks like something you are looking for? (You can check projects Wiki for more detailed information about all the features).

[2019-07-08 18:46] johncrim commented on #48
Here's my analysis + opinion on what can and should be done. The work to provide a good generic host design seems bigger than I initially expected, based on the design of `Microsoft.ServiceFabric.AspNetCore.*` and the implementation of [GenericWebHost](https://github.com/aspnet/AspNetCore/tree/master/src/Hosting/Hosting/src/GenericHost).

**Current Design + Limitations**
1. A Service Fabric servic

[2019-07-08 19:32] johncrim commented on #48
@chuanboz - to answer your earlier questions:

IMO both should be possible. I do think that the generic host design generally favors a single, host-level DI container/IServiceProvider, because it's simplest, and scoping can be added where necessary to control the lifetime of injected objects. But I also think that one should be able to create a separate webhost and DI container per service type if

[2019-07-09 01:22] chuanboz commented on #48
Agree on those principles, and I'd like to add one more: Introduce fewer new concept for the integration.

There is 1 use case even for 1 service type 1 listener, that the service instance could have failures to instantiate initially but subsequencial instantiate could success, in such case the host process does not need to be restarted, only the service instance needs to be restarted, to avoid th

[2019-07-09 14:57] OlegKarasik commented on #48
Hi @johncrim,

Thanks you for such a detailed walk through and warm words about the project :)

Can you elaborate a bit more on this? Looks like I don't really understand the concept of shared WebHost.

The `ServiceFabricMiddleware` can be configured as described [here](https://github.com/coherentsolutionsinc/aspnetcore-service-fabric-hosting/wiki/defining-listeners#configuring-service-fabric-midd

[2019-07-11 16:45] chuanboz commented on #48
@OlegKarasik  and @johncrim , can you clarify what's issues you're trying to address with the generic integration? In other words, let's say this is implemented, how do you plan to use it, and how that make your experience better?

I want to understand better of the user scenario and use case. For us, it's mainly for integration test support without the service fabric dependency, and also to launc

[2019-07-15 16:17] OlegKarasik commented on #48
@chuanboz
In general the ideas I have behind the [project](https://github.com/coherentsolutionsinc/aspnetcore-service-fabric-hosting) are the following:

1. Simplify configuration of Reliable Services:

    - Remove a need for infrastructure level classes i.e. descendant of `StatelessService` or `StatefulService`, ..., etc.
    - Create well defined configuration flow for common operations i.e. co

[2019-07-15 16:58] chuanboz commented on #48
thanks @OlegKarasik for the details reponse and link to well structured and maintained wiki. Seems we have many in common, especially your point 2, 3,and 4 that's the driving factor for me.

@johncrim , can you share your thought on the issues to address and the goal to achieve with this?

I briefly meet with Service Fabric team and as @amanbha already called out, they are willing to accept the co

[2019-07-18 17:58] johncrim commented on #48
I agree with @OlegKarasik and @chuanboz RE all the benefits of the generic host approach (global/shared DI), simplified + more intuitive configuration/startup code (eg more along the lines of "normal" ASP.NET Core apps), better support for testing/mocking, and removing what appear to be legacy design requirements (eg subclassing `StatelessService` or `StatefulService`). It appears that we're in ag

[2019-07-22 07:06] aL3891 commented on #48
i would love to see this as well, thank you @johncrim @OlegKarasik and @chuanboz for pushing for it.

we're also looking for to run multiple services in a single host as you describe, as well as sharing a webhost.

for us the shared webhost scenario is basically multiple services sharing a port, so instead of having service1 at 10.0.0.1:5000 and service2 at 10.0.0.1:5002 we'd like to have service1

[2019-07-22 08:31] OlegKarasik commented on #48
@aL3891 Sounds interesting. What about web host configuration? Do these service also share all the DI stuff?

[2019-07-22 20:27] aL3891 commented on #48
That would be the case in my solution yeah (i havent gotten it working yet) but there would only be one kestrel instance running per host, and in the default case when a new replica came online, it would just be another route in the already running kestrel server. we'd have some custom middleware that a replica would interact with via DI and basically tell the middleware "i'm running on this host

[2019-07-23 21:32] chuanboz commented on #48
I'm preparing my changes to send out for review and discussion, I see 2 open issues and want to seek feedbacks:
1. right now SF repo still support asp.net core 1.1, the LTS release is 2.1, any concern to make new library depends on asp.net core 2.1?
2. right ow SF repo build both .net framework and .net standard library, any concern to only build .net standard 2.0 for the new library?

I propose t

[2019-07-23 21:35] amanbha commented on #48
@chuanboz I concur with having these constraints for the new binary and its nuget package.

[2019-07-24 01:02] chuanboz commented on #48
I've added the initial changes that I have used, I will spend more test to add integration test to cover the changes, but the major part of change including integration test support and visual studio F5 support are there.

End user experience is like this:
[code]
details see https://github.com/microsoft/service-fabric-aspnetcore/compare/develop...chuanboz:GenericHost

@johncrim , @OlegKarasik  and

[2019-07-26 19:18] aL3891 commented on #48
Sorry, been on my phone only all week so reading code is a bit difficult but you solution looks close to what I was cooking up, a global scope, then a scope for each replica, when you put the context instance in an adapter class.

One thing I did, because I also need this to work for reliable services where I need to conform to certain constructors, was to add the context to a generic IValueHolder

[2019-07-28 11:45] aL3891 commented on #48
I also looked at @OlegKarasik  library, it's really comprehensive and also very well documented :). To me it does look like quite a departure from the built in models though, it's almost like it's own programming model. not saying that's a bad thing but I think we'd have to rewrite a non trivial amount of code to adapt it fully, perhaps there is a middle road that is also easier to port exsisting

[2019-07-28 20:16] OlegKarasik commented on #48
@chuanboz
I have read the code and look like now I understand the idea much better :) I am not sure (would need to try the code in action) but it looks like there is no way to specify more than one listener?

----

@aL3891
Thanks for the good words :) I wasn't tried to introduce a separate programming model but rather simplify the process of configuring reliable services in general (ASP.NET Core a

[2019-07-29 07:57] aL3891 commented on #48
aha i see, but the idea is to specify all those things when setting up DI as opposed to inside a "Service class" right? The actual "service" is just the service method implementations as i understand, and then you inject the service context to use reliable collections? again, not saying that's bad or anything, but we use actors quite a bit and they're more constrained in how much you can depart fr

[2019-07-29 19:59] chuanboz commented on #48
By listener, do you mean the communication listener or http listener?
with a slight change in StatelessCommunicationService, it could support multiple communication listener as below:

[code]

[2019-07-30 14:35] OlegKarasik commented on #48
@chuanboz
Yeah, that is what I was about. One more thing, correct me if I am wrong but as far as I understand you are focusing only on ASP.NET Core listeners not remoting?

---

@aL3891
The project is all about Reliable Services, so there is no Reliable Actors support :(

[2019-07-30 17:33] chuanboz commented on #48
@OlegKarasik , That's right I only focus on ASP.NET Core listeners. By remoting, do you mean .net remoting? From what I understand that's [not supported in .net core moving forward](https://docs.microsoft.com/en-us/dotnet/core/porting/net-framework-tech-unavailable#remoting) and is recommended to move to [ASP.Net core gRPC support](https://docs.microsoft.com/en-us/aspnet/core/grpc/?view=aspnetcore

[2019-07-30 20:19] aL3891 commented on #48
@OlegKarasik
No worries, i'm working on somehing on my own :)

@chuanboz i think he means [service fabric reliable services remoting](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting), we use that extensivly as well, so im also working on supporting that with generic host

[2019-07-30 23:07] chuanboz commented on #48
@aL3891 , thanks for clarify, I have not used that remoting, but that does not seems provided in the default asp.net support, and so I'd think that shall be a separate packages to add that support. but what we do here with generic host integration shall be extensible to easily add that integration.

from what I quickly read with your link,  the StatelessCommunicationService class support to accept

[2019-07-31 08:50] aL3891 commented on #48
No you're correct, the SF remoting is separate from asp.net, however i think the generic host support should be applied for all service fabric services, with specializations for asp.net if that's needed. It does seem to me that all types of services could inject ICommunicationListeners so i wonder how much special sauce is actually needed for asp.net specifically, and how much can be done with "va

[2019-07-31 20:56] chuanboz commented on #48
thanks @aL3891 , what I see we have in common:
1. define some interface for fabric runtime to register the services factory.
2. define one extensions UseServicefabricHost to wrap the extensions.

The differentate I see is:
1. how we handle the child DI scope, we use IHostedService to start child scope and I customize IHost with IServiceProviderAdapter to create the child scope;
2. Another differen

[2019-07-31 21:03] amanbha commented on #48
@chuanboz
Thanks for following up on this, I have few questions reg. this:
1. How would this integrate with Service Fabric middleware to handle the scenario explained here https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-aspnetcore#a-case-of-mistaken-identity
2. How many endpoints are added to service manifest for multiple listeners with thsi app

[2019-07-31 21:13] chuanboz commented on #48
@amanbha , inline answer to your questions with my implementation. I will let @aL3891  and @OlegKarasik talk about their implementation regarding below questions.

there might be some minor change in the middleware, but from end user perspective they could continue to use UseServiceFabricIntegration extensions against IWebHostBuilder.

It depends on user intention, for our production code we don't

[2019-07-31 21:34] aL3891 commented on #48
@chuanboz

regariding the regarding the differences, I used IHostedService primarily to be able to have multiple service fabric registration services down the line (one for actors and one for regular services) witch i dont think is possible when using a custom IHost. Also I host does other things that you'd have to reimplement, in a custom host, specifically, launching other hosted services and de

[2019-07-31 21:59] chuanboz commented on #48
@aL3891 , inline answer to your questions.

My implementation does support that and actually that's one main reason I choose it, in the host it auto discover all the service types and register the factory for it, then whenever SF decides to instantiate that service type, the callback registered in host will create new isolated DI instance to run the services, so if you have multiple service types,

[2019-08-01 22:42] aL3891 commented on #48
oh, then perhaps i've misunderstood something :) i was looking at `UseServiceFabricRuntime` where it checks and thows if multiple service types are registered, and i took that to mean there could only be one service. Also in your IHost implementation, you resolve a `StatelessService` instance from DI, doesnt that mean that there can be only one service implementation?

In the hosted service i have

[2019-08-02 08:52] OlegKarasik commented on #48
@amanbha, Here are my answers inline.

This is supported (more information can be found in [this](https://github.com/coherentsolutionsinc/aspnetcore-service-fabric-hosting/wiki/defining-listeners) wiki page). Here is an example:

[code]

In my approach all listeners should be linked to corresponding endpoints in `ServiceManifest.xml`. This is done by `UseEndpoint("ServiceEndpoint")` method (like i

[2019-08-02 17:51] chuanboz commented on #48
it's a great discussion so far, and we all got better understanding of the scenarios, requirement. I'd propose let's first work together to agree on the user experience without tie to specific implementations, and then discuss on major technical design, and eventually agree on a standard implementation that's extensible to meet everyone of us' use cases.

[2019-08-08 20:55] aL3891 commented on #48
Imo the high level requirements are:

* Generic host should be available for all types of SF services, reliable/native(IStatefulServiceReplica/IStatelessServiceInstance)/actor/asp.net/headless(worker)
* Should be pay-for-play, ie. you should be able to use a nuget package that does not f.e pull in actors if you're writing a reliable service, or reliable services if you're writing a IStatefulServic

[2019-08-08 20:59] aL3891 commented on #48
As a side note, i'd love to compare notes on bypassing the Reliable services and targeting SF directly @johncrim. I think i got it working in my [project](https://github.com/aL3891/ServiceFabricGenericHost)  by digging though the reliable services but i've yet to find _any_ docs on how to actually do it properly

[2019-08-08 23:42] amanbha commented on #48
@masnider

[2019-08-08 23:42] amanbha commented on #48
closed by mistake, re-opening it + @masnider  as well.

[2019-09-02 02:13] amanbha opened #77 "Update code to reference latest SF 6.5 release nugets."

[2019-09-18 22:02] #77 closed, assigned to nobody

[2019-10-09 14:42] wasabii commented on #38
I ended up with something even a little worse than @wminos' solution. I actually detect the target port added into X-Forwarded-Host, and check whether it matches with the Reverse Proxy as configured within the cluster manifest.

This is more a bug for the Service Fabric Reverse Proxy: It should pass an additional header with the original path. Either using a convention (X-Forwarded-*), or a specia

[2019-11-06 00:51] masnider commented on #48
Ping in this issue. Work still going on?

[2019-11-07 17:57] johncrim commented on #48
Yes, for my part I think it would be premature to close this. I have been working with my own SF integration library (which runs in an IHostedService and takes a direct dependency on Microsoft.ServiceFabric (6.5.641)), but I both wanted to test it out a while and make sure it holds up. I would like to merge efforts with the other contributors on this thread, but am not quite ready and/or have not

[2019-11-11 14:36] OlegKarasik commented on #48
@masnider

Yes, the work is still in progress. I am planning to release a new version of my library before end of the year with support for stateless service local debugging (ability to debug ASP.NET Core stateless service without running SF cluster).

[2019-11-17 07:47] aL3891 commented on #48
i'm very close to deploying my version of this, https://github.com/aL3891/ServiceFabricGenericHost, to production as well, (like next week), i havent tested the actor parts extensivley yet though, but stateless and stateful services are there at least and actors _should_ work too :) The api might might go a though a little churn as well, but its pretty close to locked

[2019-12-04 13:35] OlegKarasik commented on #48
Hi All,

As I mentioned previously I have release a new version of [CoherentSolutions.Extensions.Hosting.ServiceFabric](https://github.com/coherentsolutionsinc/aspnetcore-service-fabric-hosting) with so-called **local runtime** which enables local debugging for simplest stateless service scenarios.

Feel free to try and share your feedback (or report issues).

Here are [sample](https://github.com/

[2020-04-17 07:03] MatthewDavidCampbell opened #85 "Service Fabric Kestrel 3.1 Https certificate through load balanser"
**Describe the bug**
See a detailed description on [Stackoverflow](https://stackoverflow.com/questions/61265724/service-fabric-kestrel-3-1-https-certificate-through-load-balanser) as well the stateless service definition [gist](https://gist.github.com/MatthewDavidCampbell/b64fbc10becd87bb35c1dc81c2c0c96b).  In short, our cluster load balanser accessing an HTTPS endpoint on 443 through 8443 worked

[2020-04-17 16:53] amanbha commented on #85
Have you tried this: https://docs.microsoft.com/azure/service-fabric/service-fabric-tutorial-dotnet-app-enable-https-endpoint

[2020-04-19 18:14] MatthewDavidCampbell commented on #85
Couple issues with that tutorial.

1) Not Kestel 3.0+ ready.  The NoDelay options have moved to SocketTransportOptions which default to true (i.e. disable Nagle's algorithm for all connections).  Would be great if there was clarification about the use or non-use of Nagle plus the impact on HTTPS cert.

2) Bad download reference to source code.  Which means there is no example of the _GetHttpsCerti

[2020-04-20 06:46] MatthewDavidCampbell commented on #85
Solved.  Had set the protocol to HTTP2 instead of forcing HTTP1.

     `options.Listen(
                        IPAddress.IPv6Any,
                        description.Port,
                        listenOptions => {
                            listenOptions.Protocols = HttpProtocols.Http1;

                            if (description.Protocol == System.Fabric.Description.EndpointProtocol.Https)

[2020-04-20 06:46] #85 closed, assigned to nobody

[2020-06-22 23:31] amanbha opened #87 "Don't use ServiceFabricMiddleware when urlSuffix is null or empty"
Fixed in https://github.com/microsoft/service-fabric-aspnetcore/pull/86

[2020-06-22 23:41] #87 closed, assigned to nobody

[2020-07-17 20:23] Alex-Panov commented on #34
Had similar issue for ServiceReplicaListener in Stateful case, so it should look like this:
[code]
Note the second endpoint.Name on last line.

[2020-08-06 07:44] 4nandP opened #89 "Fix misleading packagename"
The package name _Microsoft.ServiceFabric.AspNetCore.Configuration_ is completely misleading and inconsistent. It should be
_Microsoft.Extensions.Configuration.ServiceFabric_, which will make it easier to find and increase adoption

[2020-08-07 03:59] Leon99 commented on #48
@vturecek, @amanbha - is it possible to get an official view on switching to IHost? IWebHost is deprecated and we're not sure if it's worth using this library as this issue has been around for more than 2 years now with no promises in sight.

[2020-08-28 15:06] amanbha commented on #89
@4nandP Changing it now would be a breaking change, As per guidance the package name would start with Microsoft.ServiceFabric and the team has only reserved to publish packages with Microsoft.ServiceFabric prefix.
Any other suggestions to make it more discoverable in documentation is welcome.

[2020-08-28 15:06] #89 closed, assigned to nobody

[2020-09-16 14:38] aykalder opened #92 "Getting 502 when using kestrel with HTTPS"
**Describe the bug**
I have a SF stateless web application, using kesterl, running on Azure (but the bug is also reproduced over the local cluster)
With http configuration, I can reach the app's controllers and everything is working fine.
But, when I'm adding a small piece of code that enable SSL configuration i.e HTTPS, I'm getting 502.
The requests dont reach the application layer so I have no l

[2020-09-16 15:06] aykalder commented on #92
![image](https://user-images.githubusercontent.com/70138544/93355844-2bd57f80-f847-11ea-9b2f-33a051eeca9e.png)
 In Azure, the LB has this rule to transfer requests from 443 port to 4433

[2020-10-08 12:07] diegosasw commented on #48
I found this old but still open issue and I wonder if it's related with the problems I'm having to get Autofac in an AspNet Core 3.1 application working for service fabric and Test Support, as [I asked here](https://stackoverflow.com/questions/64260534/how-to-use-service-fabric-service-with-aspnet-core-webapi-and-autofac-and-run-te).

Can I ask you guys how do you use the [TestServer](https://www.

[2020-10-21 11:24] hfaran opened #93 "ServiceFabricConfigurationProvider loads configuration from the wrong package when a ConfigurationPackageModifiedEvent is raised"
**Describe the bug**

ServiceFabricConfigurationProvider does not handle configuration updates correctly when multiple ConfigPackages are used. The event handler for the ConfigurationPackageModifiedEvent and the ConfigurationPackageAddedEvent should only load configuration from the provided package *if* it matches the package name that that provider maps to. Today, this does not happen so every pr

[2020-10-23 15:08] ryandle commented on #50
@dbreshears It's been 2.5 years - can this be reconsidered now? dotnet core tooling is a must-have for developers these days. It would be wonderful if building .sfproj supported it, because then our entire build pipeline could just use dotnet core tooling.

[2020-10-23 18:34] cjfarrelly commented on #50
Same ask here, why are sfproj still not net core?

[2020-10-26 07:20] #93 closed, assigned to nobody

[2020-11-10 18:39] mezzo1981 commented on #48
something new on GenericHost with ServiceFabric?

[2021-01-13 21:48] shessane commented on #48
Hi all,
Any update on this ?

[2021-02-18 18:29] craftyhouse commented on #48
Just noting we discussed briefly on community call 51, still need to get work booked to get this completed. Will update when we get something committed.

[2021-05-03 08:22] AmirSasson commented on #50
hi @dbreshears, i was wondering if there is  anything new here?
is the alternative is to "give up" on the SFPROJ file and follow [this ](https://github.com/Azure-Samples/service-fabric-dotnet-core-getting-started) is the only alternative?

[2021-06-17 09:28] MartinDemberger commented on #61
I'm confused that this doesn't hurt so much people.
If you have a MVC.net-core project which references several fabric services this leads to version conflicts.

[code]

If MyWebProject and MyFabricService are maintained in different teams this leads to conflicts that can't be resolved without a synchronized version increment to 5.0.521.
If MyFabricService totally out of control it's totally impos

[2021-07-27 12:13] IvanAlekseev commented on #48
Is there any update on this?
![xAv](https://user-images.githubusercontent.com/23052247/127151663-4f9d1898-b36b-44e8-bc58-98609ed8cdbc.gif)

[2021-08-18 08:56] mezzo81 commented on #48
is that completely ignored here?

[2021-08-18 08:57] mezzo81 commented on #48
since 18 Feb no update? :-(

[2021-10-16 11:49] ThiemeNL commented on #48
I noticed that recently a pull request #96 was merged into the develop branch, which enables the support of the IHost.

[2021-10-20 06:18] PavanKunapareddyMSFT commented on #48
Hi @ThiemeNL and everyone,
We are taking a two step approach to implement this workitem
1) Enable users to use IHostBuilder/IHost interfaces to build service fabric aspnet services
    With this the current developer experience remains almost the same except that they could now use GenericHost instead of WebHost to build a communication listener
2) Define a new host implementation for service fabr

[2021-11-15 14:55] darthrcf commented on #48
Been almost a month and release of .net 6 has been out about a week now and I noticed PR 96 as well. Any updates?

This may not be the right place for this, but are there any plans for a Service Fabric Template for .net 6 hosting Blazor Web Assembly for Visual Studio 2022?

[2021-11-24 09:53] ThatRendle commented on #48
@PavanKunapareddyMSFT When do you expect to release an updated `Microsoft.ServiceFabric.AspNetCore.Kestrel` package with the `IHost` support?

[2022-01-13 11:23] juho-hanhimaki commented on #48
Generic host support seems to be included in the latest version libraries (5.2.1363). Not mentioned in release notes though.

[2022-03-15 12:27] strat-alex commented on #48
@PavanKunapareddyMSFT  Would you be able to give us an update on:

please?

[2022-05-06 12:48] jwyglendowski-precisionlender opened #99 "ServiceFabricIntegrationOptions UseUniquestServiceUrl is not possible using IHostBuilder outside this assemble"
**Describe the bug**
`AspNetCoreCommunicationListener` has the option `ConfigureToUseUniqueServiceUrl` which is an `internal method` called by [WebHostBuilderServiceFabricExtension.cs](https://github.com/microsoft/service-fabric-aspnetcore/blob/9_0/src/Microsoft.ServiceFabric.AspNetCore/WebHostBuilderServiceFabricExtension.cs) if the ServiceFabricIntegrationOptions UseUniquestServiceUrl is set to

[2022-05-06 18:49] jwyglendowski-precisionlender commented on #99
I found the documentation and am linking to it here in case someone else runs into the problem.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-aspnetcore#ihost-and-minimal-hosting-integration

[2022-05-06 18:49] jwyglendowski-precisionlender commented on #99
The extension method is not needed based on the referenced documentation.

[2022-05-06 18:49] #99 closed, assigned to nobody

[2022-07-01 06:02] levimatheri opened #100 "Reverse Proxy with readiness probe"
**Describe the bug**
I came across the [readiness probes](https://docs.microsoft.com/en-us/azure/service-fabric/probes-codepackage#readiness-probe), which work fine.
However, when the endpoint address is unpublished when the instance is unhealthy, the reverse Proxy still tries to route requests to the endpoint, and since there is no address published, it returns 400 FABRIC_E_INVALID_ADDRESS.

**To

[2022-08-17 14:54] microsoft-github-policy-service[bot] opened #103 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-30 18:18] #103 closed, assigned to nobody